<div class="uk-block tm-block-main uk-block-default uk-block-large">
    <div class="uk-container uk-container-center">
        <div data-uk-grid-margin="" data-uk-grid-match="" class="tm-middle uk-grid" id="tm-middle">
            <div class="tm-main uk-width-medium-1-1 uk-row-first">
                <main class="tm-content" id="tm-content">
                    <div id="system-message-container">
                    </div>
                    <article class="uk-article">
                        <div class="uk-text-center">
                            <h1>User Registration</h1>
                            <!--<p class="uk-width-medium-2-3 uk-align-center tm-margin-large-top">-->
                                <!--Fill in the details below to create a new account.-->
                            <!--</p>-->
                        </div>
                        <div *ngIf="submitted" class="uk-width-1-1 uk-align-center">
                            <div data-uk-grid-margin="" data-uk-grid-match="{target:'&gt; div &gt; .uk-panel', row:true}"
                                 class="uk-grid-width-1-1 uk-grid uk-grid-match uk-text-left uk-margin-large-top">
                                <div data-uk-alert="" class="uk-alert uk-alert-success">
                                    <p>You have successfully registered to the openminted platform. An e-mail has been
                                        sent to you with an activation link. At this moment this functionality is under construction,
                                        therefore you can proceed with logging in by clicking <a routerLink="/login">here.</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!submitted" class="uk-width-1-2 uk-align-center">
                            <div data-uk-grid-margin="" data-uk-grid-match="{target:'&gt; div &gt; .uk-panel', row:true}"
                                 class="uk-grid-width-1-1 uk-grid uk-grid-match uk-text-left uk-margin-large-top"
                                 id="wk-grid301">
                                <form [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm.value, registrationForm.valid)" class="uk-form">
                                    <div *ngIf="errorMessage" data-uk-alert="" class="uk-alert uk-alert-danger">
                                        <p>{{errorMessage}}</p>
                                    </div>
                                    <!--<div *ngIf="!registrationForm.passwords.valid" data-uk-alert="" class="uk-alert uk-alert-danger">-->
                                        <!--<p *ngIf="registrationForm.passwords?.errors?.areEqual">-->
                                            <!--The two passwords aren't the same-->
                                        <!--</p>-->
                                    <!--</div>-->
                                    <div *ngIf="!registrationForm.valid && registrationForm.hasError('areEqual', ['passwords'])"
                                         data-uk-alert="" class="uk-alert uk-alert-danger"><p>The two passwords aren't the same</p></div>
                                    <div data-uk-grid-margin="" class="uk-grid uk-grid-width-1-1">
                                        <div class="uk-row-first"><input type="text"
                                                                         class="uk-width-1-1" formControlName="name" placeholder="Name"></div>
                                        <div class="uk-grid-margin uk-row-first"><input type="text" class="uk-width-1-1"
                                                                                        formControlName="surname" placeholder="Surname"></div>
                                        <div class="uk-grid-margin uk-row-first"><input type="text" class="uk-width-1-1"
                                                                                        formControlName="username" placeholder="Username"></div>
                                        <div class="uk-grid-margin uk-row-first"><input type="email" class="uk-width-1-1"
                                                                                        formControlName="email" placeholder="E-mail"></div>
                                        <div class="uk-grid-margin uk-row-first"><input type="password" class="uk-width-1-1"
                                                                                        formControlName="password" placeholder="Password"></div>
                                        <div class="uk-grid-margin uk-row-first"><input type="password" class="uk-width-1-1"
                                                                                        formControlName="confirmPassword" placeholder="Confirm Password"></div>
                                        <div class="uk-grid-margin uk-row-first"><input type="text" class="uk-width-1-1"
                                                                                        formControlName="affiliation" placeholder="Affiliation"></div>
                                        <!--<div class="uk-grid-margin uk-row-first"><button class="uk-button uk-button-large -->
                                        <!--uk-button-primary" [disabled]="!registrationForm.valid">Sign Up</button></div>-->
                                        <div class="uk-grid-margin uk-row-first"><button class="uk-button uk-button-large
                                        uk-button-primary">Sign Up</button></div>
                                    </div>
                                </form>
                                <p><a routerLink="/login">Already have an account? Click here to sign in</a></p>
                            </div>
                        </div>
                    </article>
                </main>
            </div>
        </div>
    </div>
</div>