.middle-box {
    margin: 0 auto;
    max-width: 400px;
    padding-bottom: 40px;
    padding-top: 40px;
    z-index: 100;
}

.signUpscreen.middle-box {
    width: 400px;
}

.block {
    display: block;
}

.full-width {
    width: 100% !important;
}

.m-b {
    margin-bottom: 15px;
}

body.mini-navbar.fixed-sidebar .profile-element, .block {
    display: block !important;
}