<div class="uk-block tm-block-main uk-block-default uk-block-large">
    <div class="uk-container uk-container-center">
        <div data-uk-grid-margin="" data-uk-grid-match="" class="tm-middle uk-grid" id="tm-middle">
            <div class="tm-main uk-width-medium-1-1 uk-row-first">
                <main class="tm-content" id="tm-content">
                    <div id="system-message-container">
                    </div>
                    <article class="uk-article">
                        <div class="uk-text-center">
                            <h1>Edit Profile</h1>
                            <!--<p class="uk-width-medium-2-3 uk-align-center tm-margin-large-top">-->
                            <!--Fill in the details below to create a new account.-->
                            <!--</p>-->
                        </div>
                        <!--<div class="uk-text-center">-->
                        <!--<div data-uk-grid-margin="" data-uk-grid-match="{target:'&gt; div &gt; .uk-panel', row:true}"
                             class="uk-grid-width-1-1 uk-grid-width-medium-1-2 uk-grid uk-grid-match uk-text-left uk-margin-large-top"
                             id="wk-grid301">-->
                        <div class="uk-width-1-2 uk-align-center">
                            <div data-uk-grid-margin="" data-uk-grid-match="{target:'&gt; div &gt; .uk-panel', row:true}"
                                 class="uk-grid-width-1-1 uk-grid uk-grid-match uk-text-left uk-margin-large-top"
                                 id="wk-grid301">
                                <form class="uk-form">
                                    <div data-uk-grid-margin="" class="uk-grid uk-grid-width-1-1">
                                        <div class="uk-row-first"><input type="text" class="uk-width-1-1" placeholder="Name"></div>
                                        <div class="uk-grid-margin uk-row-first"><input type="text" class="uk-width-1-1" placeholder="Surname"></div>
                                        <div class="uk-grid-margin uk-row-first"><input type="text" class="uk-width-1-1" placeholder="Username"></div>
                                        <div class="uk-grid-margin uk-row-first"><input type="email" class="uk-width-1-1" placeholder="E-mail"></div>
                                        <div class="uk-grid-margin uk-row-first"><input type="password" class="uk-width-1-1" placeholder="Password"></div>
                                        <div class="uk-grid-margin uk-row-first"><input type="password" class="uk-width-1-1" placeholder="Confirm Password"></div>
                                        <div class="uk-grid-margin uk-row-first"><input type="text" class="uk-width-1-1" placeholder="Affiliation"></div>
                                        <div class="uk-grid-margin uk-row-first"><button class="uk-button uk-button-large uk-button-primary">Save Changes</button></div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </article>
                </main>
            </div>
        </div>
    </div>
</div>