<div>
    <form class="form-horizontal componentForm" [formGroup]="myForm">
        <accordion>
            <div data-uk-grid-margin="" class="uk-grid uk-grid-width-1-1">
                <!--<form-repeat-inline [component]="type" [group]="myForm" [name]="'example'" [required]="true" [description]="{label : 'Hello'}">-->
                <!--</form-repeat-inline>-->
                <!--<metadata-header-info-form [group]="myForm"></metadata-header-info-form>-->
                <componentGeneric-form [parentGroup]="myForm" [name]="'componentInfo'"></componentGeneric-form>
                <identification-info-form [parentGroup]="myForm.controls.componentInfo" [name]="'identificationInfo'"></identification-info-form>
                <contact-info-form [required]="true" [parentGroup]="myForm.controls.componentInfo" [name]="'contactInfo'"></contact-info-form>
                <versionInfo-form [parentGroup]="myForm.controls.componentInfo" [name]="'versionInfo'"></versionInfo-form>
                <componentDistributionInfos-form [parentGroup]="myForm.controls.componentInfo">

                </componentDistributionInfos-form>
                <!--<example-form [name]="'example1'" [group]="myForm"></example-form>-->


            </div>
        </accordion>
    </form>
</div>
<div class="margin-20">
    <div>myForm details:-</div>
    <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
    <pre>form value: <br>{{myForm.value | json}}</pre>
</div>