<div class="uk-block tm-block-main uk-block-default uk-block-large">
    <div class="uk-container uk-container-center">
        <div id="tm-middle" class="tm-middle uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
            <div class="tm-main uk-width-medium-1-1 uk-row-first">
                <main id="tm-content" class="tm-content">
                    <div id="system-message-container">
                    </div>
                    <div class="yoo-zoo page-uikit page-uikit-test">

                        <h1 class="uk-h1"> Want to register a new component? </h1>

                        <!--<p class="uk-text-muted">Written by Super User on 26 March 2010 </p>-->

                        <!--<div class="uk-thumbnail uk-align-medium-right">-->
                        <!--<img src="http://yootheme.com/demo/themes/joomla/2016/chester/media/zoo/images/graph_de8a1911975877207d1987f357ec7d7e.jpg" alt="Welcome to our Website!" width="250" height="160">-->
                        <!--</div>-->

                        <div class="uk-margin">
                            We offer a number of ways for you to register your components. See them below and choose the
                            one that suits you the most.
                        </div>

                        <div class="registrationOptions">
                            <div class="uk-margin uk-grid uk-panel uk-panel-box uk-panel-box-primary">
                                <div class="uk-width-medium-1-4">
                                    <img src="https://id.kickfire.com/img/icon-form.png"
                                         alt="Form" width="170" height="200">
                                </div>
                                <div class="uk-width-medium-3-4">
                                    <h3>Do you want to provide us with the metadata of the component?</h3>
                                    <p>We have created a form for you so that you can easily provide us with the metadata that
                                        are needed and we can validate whether we have all the information that we need on the fly!</p>
                                    <div class="uk-row-first"><button class="uk-button uk-button-large
                                        uk-button-primary" (click)="registerUsingForm()">I want to register using the form!</button></div>
                                </div>
                            </div>

                            <div class="uk-margin uk-grid uk-panel uk-panel-box uk-panel-box-primary">
                                <div class="uk-width-medium-3-4">
                                    <h3>Do you have maven coordinates for your component?</h3>
                                    <p>Provide us with the artifactId and groupId and we will try to pre-fill as much information as we can for you!</p>

                                    <form class="uk-form mavenCoordinatesForm">
                                        <div data-uk-grid-margin="" class="uk-grid uk-grid-width-1-1">
                                            <div class="uk-row-first"><input type="text" class="uk-width-1-1"
                                                                             placeholder="ArtifactId"></div>
                                            <div class="uk-grid-margin uk-row-first"><input type="text" class="uk-width-1-1"
                                                                                            placeholder="GroupId"></div>
                                            <div class="uk-grid-margin uk-row-first"><button class="uk-button uk-button-large
                                        uk-button-primary">Resolve maven coordinates!</button></div>
                                        </div>
                                    </form>
                                </div>
                                <div class="uk-width-medium-1-4">
                                    <img src="https://maven.apache.org/images/maven-logo-black-on-white.png"
                                         alt="Maven" width="170" height="200" style="margin-top: 45%; float: right">
                                </div>
                            </div>

                            <div class="uk-margin uk-grid uk-panel uk-panel-box uk-panel-box-primary">
                                <div class="uk-width-medium-1-4">
                                    <img src="http://0.tqn.com/d/pcsupport/1/0/h/Y/-/-/xml-file.png"
                                         alt="XML" width="170" height="200">
                                </div>
                                <div class="uk-width-medium-3-4">
                                    <h3>Do you have an XML description of your component?</h3>
                                    <p>If you have an XML description of your component in the <a>OMTD-schema</a>, you can paste
                                        it below and we can register your component immediately!</p>
                                    <div class="uk-row-first"><button class="uk-button uk-button-large
                                        uk-button-primary" (click)="registerUsingXML()">I want to register using an XML!</button></div>
                                </div>
                            </div>

                        </div>

                    </div>
                </main>
            </div>
        </div>
    </div>
</div>