<div class="uk-block tm-block-main uk-block-default uk-block-large">
    <div class="uk-container uk-container-center">
        <div id="tm-middle" class="tm-middle uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
            <div class="tm-main uk-width-medium-1-1 uk-row-first">
                <main id="tm-content" class="tm-content">
                    <div id="system-message-container">
                    </div>
                    <div class="yoo-zoo page-uikit page-uikit-test">

                        <div class="uk-margin uk-grid componentXMLRegistration">
                            <div class="uk-width-medium-1-1">

                                <div *ngIf="!successfulMessage">
                                    <article class="uk-article">

                                        <h3 class="subtitle">Fill in the metadata for your component</h3>

                                        <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>

                                        <div *ngIf="componentFormErrorMessage" class="alert alert-danger">{{componentFormErrorMessage}}</div>
                                        <component-registration-form [group]="componentForm" (componentForm)="handleComponent($event)"></component-registration-form>

                                    </article>

                                    <div>
                                        <button (click)="onSubmit()" class="uk-button uk-button-large
                                            uk-button-blue registerButton">Register!</button>
                                    </div>
                                </div>

                                <div *ngIf="successfulMessage">
                                    <article class="uk-article">
                                        <div class="alert alert-success">{{successfulMessage}}</div>
                                    </article>
                                </div>

                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>