<div class="uk-section-default uk-section uk-section-small uk-padding-remove-bottom" style="min-height: 325px">
    <div class="uk-container">
        <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
            <div class="uk-width-1-1@m uk-first-column">

                <h1 class="uk-h2">Component XML registration</h1>
                <!--<hr class="uk-divider-small">-->

                <div class="uk-margin">
                    Paste the XML presentation of your component below, or use one of our helper methods on the
                    right to preview your XML before you submit it.
                </div>

                <!-- TOP HELP CONTENT -->
                <help-content #topHelperContent [position]="'top'"
                              [ngClass]="topHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
                </help-content>

                <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>

                <div class="uk-container uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-grid">

                        <!-- LEFT HELP CONTENT -->
                        <aside-help-content #leftHelperContent [position]="'left'"
                                            [ngClass]="leftHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
                        </aside-help-content>

                        <!-- MIDDLE -->
                        <div class=" uk-width-expand@m">

                            <form [formGroup]="componentXMLForm" role="form" class="m-t componentXMLForm" (ngSubmit)="onSubmit(componentXMLForm.value, $event)">
                                <div class="form-group">
                                    <textarea class="form-control" rows="16" name="xml" formControlName="xml"></textarea>
                                </div>
                                <button class="uk-button uk-button-primary registerButton" type="submit">Register!</button>
                            </form>

                        </div>

                        <aside class="tm-sidebar uk-width-1-4@m uk-first-column">
                            <div class="uk-card uk-card-body uk-card-default uk-margin-bottom">
                                <h3 class="uk-panel-title">Upload XML</h3>
                                <form class="m-t componentXMLFileForm">
                                    <div class="form-group">
                                        <input type="file" name="xmlFile" (change)="report($event)">
                                    </div>
                                    <a (click)="previewFromFile()" class="">
                                        Preview <i class="fa fa-angle-right uk-margin-small-left"></i>
                                    </a>
                                </form>
                            </div>
                            <div class="uk-card uk-card-body uk-card-default sidemenu uk-margin-bottom">
                                <h3 class="uk-panel-title">URL of component XML</h3>
                                <form class="m-t componentXMLURLForm">
                                    <div class="form-group">
                                        <input class="form-control" name="xmlURL" [(ngModel)]="xmlURL">
                                    </div>
                                    <a (click)="previewFromURL()" class="">
                                        Preview <i class="fa fa-angle-right uk-margin-small-left"></i>
                                    </a>
                                </form>
                            </div>
                        </aside>

                        <!--&lt;!&ndash; RIGHT HELP CONTENT &ndash;&gt;-->
                        <!--<aside-help-content #rightHelperContent [position]="'right'"-->
                                            <!--[ngClass]="rightHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">-->
                        <!--</aside-help-content>-->

                    </div>
                </div>


                <!-- BOTTOM HELP CONTENT -->
                <help-content #bottomHelperContent [position]="'bottom'"
                              [ngClass]="bottomHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
                </help-content>


            </div>
        </div>
    </div>
</div>