<div class="uk-section-default uk-section uk-section-small uk-padding-remove-bottom" style="min-height: 325px">
    <div class="uk-container">
        <div class="tm-header-placeholder uk-margin-remove-adjacent" style="height: 84px;"></div>
        <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
            <div class="uk-width-1-1@m uk-first-column">
                <!--<h1 class="uk-h2">FAQs</h1>-->
                <!--<h3 class="uk-h2">{{editMode ? "Edit":"Add"}} an eInfraCentral service</h3>-->
                <h2 class="uk-text-center uk-h2 uk-scrollspy-inview uk-animation-slide-bottom-small" uk-scrollspy-class="" style="">
                    {{editMode ? "Edit an":"Add a new"}} OpenAIRE service
                </h2>
                <!--<hr class="uk-divider-icon uk-scrollspy-inview uk-animation-slide-bottom-small" uk-scrollspy-class="" style="">-->
                <!--<hr class="uk-divider-small">-->

                <!-- TOP HELP CONTENT -->
                <help-content #topHelperContent [position]="'top'"
                              [ngClass]="topHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
                </help-content>
                <div class="uk-container uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-grid">
                        <!-- LEFT HELP CONTENT -->
                        <aside-help-content #leftHelperContent [position]="'left'"
                                            [ngClass]="leftHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
                        </aside-help-content>
                        <!-- MIDDLE -->
                        <div class=" uk-width-expand@m">
                            <div class="middle-box animated fadeInDown ">
                                <div id="serviceForm">
                                    <div *ngIf="errorMessage" data-uk-alert="" class="uk-alert uk-alert-danger">
                                        <p>{{errorMessage}}</p>
                                    </div>
                                    <div *ngIf="successMessage" data-uk-alert="" class="uk-alert uk-alert-success">
                                        <p>{{successMessage}}</p>
                                    </div>
                                    <form [formGroup]="serviceForm" role="form" class="m-t"
                                          (ngSubmit)="onSubmit(serviceForm.value, serviceForm.valid)">

                                        <ul uk-accordion="multiple: true">

                                            <li accordionSection class="uk-open uk-margin-large-bottom" [title]="'Basic Information'">
                                                <form-inline [description]="urlDesc" [params]="'inline'"
                                                             [valid]="serviceForm.get('url').valid">
                                                    <input class="uk-input" type="text" formControlName="url">
                                                </form-inline>
                                                <form-inline [description]="nameDesc" [params]="'inline'"
                                                             [valid]="serviceForm.get('name').valid && serviceForm.get('name').dirty">
                                                    <input class="uk-input" type="text" formControlName="name">
                                                </form-inline>
                                                <form-inline [description]="taglineDesc" [params]="'inline'"
                                                             [valid]="serviceForm.get('tagline').valid && serviceForm.get('tagline').dirty">
                                                    <input class="uk-input" type="text" formControlName="tagline">
                                                </form-inline>
                                                <form-inline [description]="descriptionDesc" [params]="'inline'"
                                                             [valid]="serviceForm.get('description').valid && serviceForm.get('description').dirty">
                                                    <ckeditor
                                                            [readonly]="false"
                                                            debounce="500"
                                                            formControlName="description"
                                                            [config]="{allowedContent: true,extraAllowedContent : '*(*)'}">
                                                        <!--id="contentTag"-->
                                                        <!--(ready)="onReady($event)"-->
                                                        <!--(focus)="onFocus($event)"-->
                                                        <!--[config]="{uiColor: '#99000'}"-->
                                                        <!--(blur)="onBlur($event)"-->
                                                        <!--(change)="onChange($event)"-->
                                                    </ckeditor>
                                                </form-inline>
                                                <form-inline [description]="optionsDesc" [params]="'inline'"
                                                             [valid]="serviceForm.get('options').valid && serviceForm.get('options').dirty">
                                                    <input class="uk-input" type="text" formControlName="options">
                                                </form-inline>
                                                <form-inline [description]="targetUsersDesc" [params]="'inline'"
                                                             [valid]="serviceForm.get('targetUsers').valid && serviceForm.get('targetUsers').dirty">
                                                    <input class="uk-input" type="text" formControlName="targetUsers">
                                                </form-inline>
                                                <form-inline [description]="userValueDesc" [params]="'inline'"
                                                             [valid]="serviceForm.get('userValue').valid && serviceForm.get('userValue').dirty">
                                                    <input class="uk-input" type="text" formControlName="userValue">
                                                </form-inline>
                                                <form-inline [description]="userBaseDesc" [params]="'inline'"
                                                             [valid]="serviceForm.get('userBase').valid && serviceForm.get('userBase').dirty">
                                                    <input class="uk-input" type="text" formControlName="userBase">
                                                </form-inline>
                                                <form-inline [description]="symbolDesc" [params]="'inline'"
                                                             [valid]="serviceForm.get('symbol').valid && serviceForm.get('symbol').dirty">
                                                    <input class="uk-input" type="text" formControlName="symbol">
                                                </form-inline>
                                                <form-inline [description]="multimediaURLDesc" [params]="'inline'"
                                                             [valid]="serviceForm.get('multimediaURL').valid && serviceForm.get('multimediaURL').dirty">
                                                    <input class="uk-input" type="text" formControlName="multimediaURL">
                                                </form-inline>
                                            </li>

                                            <li accordionSection class="uk-margin-large-bottom" [title]="'Classification Information'">
                                                <form-repeat-inline [component]="providersComponent" [parentGroup]="serviceForm"
                                                                    [name]="'providers'" [required]="true"
                                                                    [description]="providersDesc">
                                                </form-repeat-inline>
                                                <div></div>
                                                <form-inline [description]="versionDesc" [params]="'inline'"
                                                             [valid]="serviceForm.get('version').valid && serviceForm.get('version').dirty">
                                                    <input class="uk-input" type="text" formControlName="version">
                                                </form-inline>
                                                <form-inline [description]="lastUpdateDesc" [params]="'inline'"
                                                             [valid]="serviceForm.get('lastUpdate').valid && serviceForm.get('lastUpdate').dirty">

                                                    <input class="uk-input"
                                                           type="text"
                                                           onfocus="(this.type='date')"
                                                           formControlName=lastUpdate>

                                                    <!--<input class="uk-input" type="text" formControlName="lastUpdate">-->
                                                </form-inline>
                                                <!--<form #myForm="ngForm" novalidate>-->
                                                <!--<my-date-picker name="mydate" [options]="dp.options" [(ngModel)]="dp.default"></my-date-picker>-->
                                                <!--</form>-->
                                                <form-inline [description]="changeLogDesc" [params]="'inline'"
                                                             [valid]="serviceForm.get('changeLog').valid && serviceForm.get('changeLog').dirty">
                                                    <input class="uk-input" type="text" formControlName="changeLog">
                                                </form-inline>
                                                <form-inline [description]="validForDesc" [params]="'inline'"
                                                             [valid]="serviceForm.get('validFor').valid && serviceForm.get('validFor').dirty">
                                                    <input class="uk-input"
                                                           type="text"
                                                           onfocus="(this.type='date')"
                                                           formControlName=validFor>
                                                    <!--<input class="uk-input" type="text" formControlName="validFor"-->
                                                           <!--[ngClass]="{'uk-form-danger': !serviceForm.get('validFor').valid && serviceForm.get('validFor').dirty}">-->
                                                </form-inline>
                                                <form-inline *ngIf="this.vocabularies" [description]="lifeCycleStatusDesc"
                                                             [params]="'inline'"
                                                             [valid]="serviceForm.get('lifeCycleStatus').valid && serviceForm.get('lifeCycleStatus').dirty">
                                                    <select formControlName="lifeCycleStatus" class="uk-select">
                                                        <option *ngFor="let c of this.vocabularies.LifeCycleStatus | keys" [ngValue]="c">
                                                            {{this.vocabularies.LifeCycleStatus[c]}}
                                                        </option>
                                                    </select>
                                                </form-inline>
                                                <div></div>
                                                <form-inline *ngIf="this.vocabularies" [description]="trlDesc"
                                                             [params]="'inline'"
                                                             [valid]="serviceForm.get('trl').valid && serviceForm.get('trl').dirty">
                                                    <select formControlName="trl" class="uk-select">
                                                        <option *ngFor="let c of this.vocabularies.TRL | keys"
                                                                [ngValue]="c">{{this.vocabularies.TRL[c]}}
                                                        </option>
                                                    </select>
                                                </form-inline>
                                                <div></div>
                                                <form-inline *ngIf="this.vocabularies" [description]="categoryDesc"
                                                             [params]="'inline'"
                                                             [valid]="serviceForm.get('category').valid && serviceForm.get('category').dirty">
                                                    <select formControlName="category" class="uk-select">
                                                        <option *ngFor="let c of this.vocabularies.Category | keys"
                                                                [ngValue]="c">{{this.vocabularies.Category[c]}}
                                                        </option>
                                                    </select>
                                                </form-inline>
                                                <div></div>
                                                <form-inline *ngIf="this.vocabularies" [description]="subcategoryDesc"
                                                             [params]="'inline'"
                                                             [valid]="serviceForm.get('subcategory').valid && serviceForm.get('subcategory').dirty">
                                                    <select formControlName="subcategory" class="uk-select">
                                                        <option *ngFor="let c of this.vocabularies.Subcategory | keys"
                                                                [ngValue]="c">{{this.vocabularies.Subcategory[c]}}
                                                        </option>
                                                    </select>
                                                </form-inline>
                                                <div></div>
                                                <form-repeat-inline [component]="placesComponent" [parentGroup]="serviceForm"
                                                                    [name]="'places'" [required]="true"
                                                                    [description]="placesDesc">
                                                </form-repeat-inline>
                                                <div></div>
                                                <form-repeat-inline [component]="languagesComponent" [parentGroup]="serviceForm"
                                                                    [name]="'languages'" [required]="true"
                                                                    [description]="languagesDesc">
                                                </form-repeat-inline>
                                                <div></div>
                                                <form-repeat-inline [component]="tagsComponent" [parentGroup]="serviceForm"
                                                                    [name]="'tags'" [required]="true" [description]="tagsDesc">
                                                </form-repeat-inline>
                                                <div></div>
                                                <form-repeat-inline [component]="requiredServicesComponent"
                                                                    [parentGroup]="serviceForm"
                                                                    [name]="'requiredServices'" [required]="true"
                                                                    [description]="requiredServicesDesc">
                                                </form-repeat-inline>
                                                <div></div>
                                                <form-repeat-inline [component]="relatedServicesComponent"
                                                                    [parentGroup]="serviceForm"
                                                                    [name]="'relatedServices'" [required]="true"
                                                                    [description]="relatedServicesDesc">
                                                </form-repeat-inline>
                                                <div></div>
                                            </li>

                                            <li accordionSection class="uk-margin-large-bottom" [title]="'Support Information'">
                                                <form-inline [description]="requestDesc" [params]="'inline'"
                                                             [valid]="serviceForm.get('request').valid && serviceForm.get('request').dirty">
                                                    <input class="uk-input" type="text" formControlName="request">
                                                </form-inline>
                                                <form-inline [description]="helpdeskDesc" [params]="'inline'"
                                                             [valid]="serviceForm.get('helpdesk').valid && serviceForm.get('helpdesk').dirty">
                                                    <input class="uk-input" type="text" formControlName="helpdesk">
                                                </form-inline>
                                                <form-inline [description]="userManualDesc" [params]="'inline'"
                                                             [valid]="serviceForm.get('userManual').valid && serviceForm.get('userManual').dirty">
                                                    <input class="uk-input" type="text" formControlName="userManual">
                                                </form-inline>
                                                <form-inline [description]="trainingInformationDesc" [params]="'inline'"
                                                             [valid]="serviceForm.get('trainingInformation').valid && serviceForm.get('trainingInformation').dirty">
                                                    <input class="uk-input" type="text" formControlName="trainingInformation">
                                                </form-inline>
                                                <form-inline [description]="feedbackDesc" [params]="'inline'"
                                                             [valid]="serviceForm.get('feedback').valid && serviceForm.get('feedback').dirty">
                                                    <input class="uk-input" type="text" formControlName="feedback">
                                                </form-inline>
                                            </li>

                                            <li accordionSection class="uk-margin-large-bottom" [title]="'Contractual Information'">
                                                <form-inline [description]="priceDesc" [params]="'inline'"
                                                             [valid]="serviceForm.get('price').valid && serviceForm.get('price').dirty">
                                                    <input class="uk-input" type="text" formControlName="price">
                                                </form-inline>
                                                <form-inline [description]="serviceLevelAgreementDesc" [params]="'inline'"
                                                             [valid]="serviceForm.get('serviceLevelAgreement').valid && serviceForm.get('serviceLevelAgreement').dirty">
                                                    <input class="uk-input" type="text" formControlName="serviceLevelAgreement">
                                                </form-inline>
                                                <form-repeat-inline [component]="termsOfUseComponent" [parentGroup]="serviceForm"
                                                                    [name]="'termsOfUse'" [required]="true"
                                                                    [description]="termsOfUseDesc">
                                                </form-repeat-inline>
                                                <form-inline [description]="fundingDesc" [params]="'inline'"
                                                             [valid]="serviceForm.get('funding').valid && serviceForm.get('funding').dirty">
                                                    <input class="uk-input" type="text" formControlName="funding">
                                                </form-inline>
                                            </li>
                                        </ul>

                                        <button type="submit" class="btn btn-primary block full-width m-b">{{editMode ? "Update":"Add"}}</button>
                                    </form>
                                    <pre *ngIf="this.userService.isDev()">
                                        {{serviceForm.value | json}}
                                    </pre>
                                </div>
                            </div>
                            <!-- RIGHT HELP CONTENT -->
                            <aside-help-content #rightHelperContent [position]="'right'"
                                                [ngClass]="rightHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
                            </aside-help-content>
                        </div>
                    </div>
                    <!-- BOTTOM HELP CONTENT -->
                    <help-content #bottomHelperContent [position]="'bottom'"
                                  [ngClass]="bottomHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
                    </help-content>
                </div>
            </div>
        </div>
    </div>
</div>