<div class="tm-header  tm-header-transparent uk-margin-top uk-margin-medium-bottom" uk-header="">
    <div class="uk-container uk-container-expand">
        <nav class="uk-navbar" uk-navbar="{&quot;align&quot;:&quot;left&quot;}">
            <div class="uk-navbar-center">
                <div class="uk-logo uk-navbar-item">
                    <a routerLink="/home"><img alt="eInfraCentral" class="uk-responsive-height"
                                               src="./imgs/einfracentral_logo_horizontal.png"></a>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="first_page_section uk-section-default uk-section uk-padding-remove-vertical">
    <div class="first_page_banner_headline uk-grid-collapse uk-flex-middle uk-margin-remove-vertical uk-grid uk-grid-stack"
         uk-grid="">
    </div>
</div>
<div class=" uk-section  uk-margin-small-top tm-middle custom-main-content" id="tm-main">
    <div class="uk-container uk-container-small uk-margin-medium-top  uk-margin-small-bottom uk-text-center">
        <div uk-grid="" class="uk-grid uk-grid-stack">
            <div class="tm-main uk-width-1-1@s uk-width-1-1@m  uk-width-1-1@l uk-row-first uk-first-column">
                <div class="uk-grid">
                    <div class="uk-width-1-1@m uk-width-1-1@s uk-text-center">
                        <h3 class="uk-h2">{{editMode ? "Edit":"Add"}} an eInfraCentral service</h3>
                        <div class="middle-box text-center animated fadeInDown ">
                            <div id="serviceForm">
                                <div *ngIf="errorMessage" data-uk-alert="" class="uk-alert uk-alert-danger">
                                    <p>{{errorMessage}}</p>
                                </div>
                                <div *ngIf="successMessage" data-uk-alert="" class="uk-alert uk-alert-success">
                                    <p>{{successMessage}}</p>
                                </div>
                                <form [formGroup]="serviceForm"
                                      (ngSubmit)="onSubmit(serviceForm.value, serviceForm.valid)"
                                      role="form" class="m-t">
                                    <form-inline [description]="brandNameDesc" [valid]="serviceForm.get('brandName').valid" [params]="'tooltip'">
                                        <input class="uk-input" type="text" placeholder="{{brandNameDesc.label}}"
                                               formControlName="brandName" [ngClass]="{'uk-form-danger': !serviceForm.get('brandName').valid}">
                                    </form-inline>
                                    <form-inline [description]="fullNameDesc" [valid]="serviceForm.get('fullName').valid" [params]="'tooltip'">
                                        <input class="uk-input" type="text" placeholder="{{fullNameDesc.label}}"
                                               formControlName="fullName" [ngClass]="{'uk-form-danger': !serviceForm.get('fullName').valid}">
                                    </form-inline>
                                    <form-inline [description]="descriptionDesc" [valid]="serviceForm.get('description').valid" [params]="'tooltip'">
                                        <input class="uk-input" type="text" placeholder="{{descriptionDesc.label}}"
                                               formControlName="description" [ngClass]="{'uk-form-danger': !serviceForm.get('description').valid}">
                                    </form-inline>
                                    <form-inline [description]="optionsDesc" [valid]="serviceForm.get('options').valid" [params]="'tooltip'">
                                        <input class="uk-input" type="text" placeholder="{{optionsDesc.label}}"
                                               formControlName="options" [ngClass]="{'uk-form-danger': !serviceForm.get('options').valid}">
                                    </form-inline>
                                    <form-inline [description]="targetUsersDesc" [valid]="serviceForm.get('targetUsers').valid" [params]="'tooltip'">
                                        <input class="uk-input" type="text" placeholder="{{targetUsersDesc.label}}"
                                               formControlName="targetUsers" [ngClass]="{'uk-form-danger': !serviceForm.get('targetUsers').valid}">
                                    </form-inline>
                                    <form-inline [description]="userValueDesc" [valid]="serviceForm.get('userValue').valid" [params]="'tooltip'">
                                        <input class="uk-input" type="text" placeholder="{{userValueDesc.label}}"
                                               formControlName="userValue" [ngClass]="{'uk-form-danger': !serviceForm.get('userValue').valid}">
                                    </form-inline>
                                    <form-inline [description]="userBaseDesc" [valid]="serviceForm.get('userBase').valid" [params]="'tooltip'">
                                        <input class="uk-input" type="text" placeholder="{{userBaseDesc.label}}"
                                               formControlName="userBase" [ngClass]="{'uk-form-danger': !serviceForm.get('userBase').valid}">
                                    </form-inline>
                                    <form-inline [description]="providerDesc" [valid]="serviceForm.get('provider').valid" [params]="'tooltip'">
                                        <input class="uk-input" type="text" placeholder="{{providerDesc.label}}"
                                               formControlName="provider" [ngClass]="{'uk-form-danger': !serviceForm.get('provider').valid}">
                                    </form-inline>
                                    <form-inline [description]="fundingSourcesDesc" [valid]="serviceForm.get('fundingSources').valid" [params]="'tooltip'">
                                        <input class="uk-input" type="text" placeholder="{{fundingSourcesDesc.label}}"
                                               formControlName="fundingSources" [ngClass]="{'uk-form-danger': !serviceForm.get('fundingSources').valid}">
                                    </form-inline>
                                    <form-inline [description]="webpageDesc" [valid]="serviceForm.get('webpage').valid" [params]="'tooltip'">
                                        <input class="uk-input" type="text" placeholder="{{webpageDesc.label}}"
                                               formControlName="webpage" [ngClass]="{'uk-form-danger': !serviceForm.get('webpage').valid}">
                                    </form-inline>
                                    <form-inline [description]="logoDesc" [valid]="serviceForm.get('logo').valid" [params]="'tooltip'">
                                        <input class="uk-input" type="text" placeholder="{{logoDesc.label}}"
                                               formControlName="logo" [ngClass]="{'uk-form-danger': !serviceForm.get('logo').valid}">
                                    </form-inline>
                                    <form-inline [description]="multimediaURLDesc" [valid]="serviceForm.get('multimediaURL').valid" [params]="'tooltip'">
                                        <input class="uk-input" type="text" placeholder="{{multimediaURLDesc.label}}"
                                               formControlName="multimediaURL" [ngClass]="{'uk-form-danger': !serviceForm.get('multimediaURL').valid}">
                                    </form-inline>
                                    <form-inline [description]="versionDesc" [valid]="serviceForm.get('version').valid" [params]="'tooltip'">
                                        <input class="uk-input" type="text" placeholder="{{versionDesc.label}}"
                                               formControlName="version" [ngClass]="{'uk-form-danger': !serviceForm.get('version').valid}">
                                    </form-inline>
                                    <form-inline [description]="revisionDateDesc" [valid]="serviceForm.get('revisionDate').valid" [params]="'tooltip'">
                                        <input class="uk-input" type="text" placeholder="{{revisionDateDesc.label}}"
                                               formControlName="revisionDate" [ngClass]="{'uk-form-danger': !serviceForm.get('revisionDate').valid}">
                                    </form-inline>
                                    <form-inline [description]="versionHistoryDesc" [valid]="serviceForm.get('versionHistory').valid" [params]="'tooltip'">
                                        <input class="uk-input" type="text" placeholder="{{versionHistoryDesc.label}}"
                                               formControlName="versionHistory" [ngClass]="{'uk-form-danger': !serviceForm.get('versionHistory').valid}">
                                    </form-inline>
                                    <form-inline [description]="phaseDesc" [valid]="serviceForm.get('phase').valid" [params]="'tooltip'">
                                        <input class="uk-input" type="text" placeholder="{{phaseDesc.label}}"
                                               formControlName="phase" [ngClass]="{'uk-form-danger': !serviceForm.get('phase').valid}">
                                    </form-inline>
                                    <form-inline [description]="technologyReadinessLevelDesc" [valid]="serviceForm.get('technologyReadinessLevel').valid" [params]="'tooltip'">
                                        <input class="uk-input" type="text" placeholder="{{technologyReadinessLevelDesc.label}}"
                                               formControlName="technologyReadinessLevel" [ngClass]="{'uk-form-danger': !serviceForm.get('technologyReadinessLevel').valid}">
                                    </form-inline>
                                    <form-inline [description]="categoryDesc" [valid]="serviceForm.get('category').valid" [params]="'tooltip'">
                                        <input class="uk-input" type="text" placeholder="{{categoryDesc.label}}"
                                               formControlName="category" [ngClass]="{'uk-form-danger': !serviceForm.get('category').valid}">
                                    </form-inline>
                                    <form-inline [description]="subcategoryDesc" [valid]="serviceForm.get('subcategory').valid" [params]="'tooltip'">
                                        <input class="uk-input" type="text" placeholder="{{subcategoryDesc.label}}"
                                               formControlName="subcategory" [ngClass]="{'uk-form-danger': !serviceForm.get('subcategory').valid}">
                                    </form-inline>
                                    <form-repeat-inline [component]="countriesComponent" [parentGroup]="serviceForm"
                                                        [name]="'countries'" [required]="true" [description]="countriesDesc">
                                    </form-repeat-inline><div></div>
                                    <!--<form-repeat-inline [component]="regionsComponent" [parentGroup]="serviceForm"-->
                                                        <!--[name]="'regions'" [required]="true" [description]="regionsDesc">-->
                                    <!--</form-repeat-inline><div></div>-->
                                    <!--<form-repeat-inline [component]="languagesComponent" [parentGroup]="serviceForm"-->
                                                        <!--[name]="'languages'" [required]="true" [description]="languagesDesc">-->
                                    <!--</form-repeat-inline><div></div>-->
                                    <!--<form-repeat-inline [component]="tagsComponent" [parentGroup]="serviceForm"-->
                                                        <!--[name]="'tags'" [required]="true" [description]="tagsDesc">-->
                                    <!--</form-repeat-inline><div></div>-->
                                    <!--<form-repeat-inline [component]="relatedServicesComponent" [parentGroup]="serviceForm"-->
                                                        <!--[name]="'relatedServices'" [required]="true" [description]="relatedServicesDesc">-->
                                    <!--</form-repeat-inline><div></div>-->
                                    <form-inline [description]="requestDesc" [valid]="serviceForm.get('request').valid" [params]="'tooltip'">
                                        <input class="uk-input" type="text" placeholder="{{requestDesc.label}}"
                                               formControlName="request" [ngClass]="{'uk-form-danger': !serviceForm.get('request').valid}">
                                    </form-inline>
                                    <form-inline [description]="helpdeskDesc" [valid]="serviceForm.get('helpdesk').valid" [params]="'tooltip'">
                                        <input class="uk-input" type="text" placeholder="{{helpdeskDesc.label}}"
                                               formControlName="helpdesk" [ngClass]="{'uk-form-danger': !serviceForm.get('helpdesk').valid}">
                                    </form-inline>
                                    <form-inline [description]="documentationDesc" [valid]="serviceForm.get('documentation').valid" [params]="'tooltip'">
                                        <input class="uk-input" type="text" placeholder="{{documentationDesc.label}}"
                                               formControlName="documentation" [ngClass]="{'uk-form-danger': !serviceForm.get('documentation').valid}">
                                    </form-inline>
                                    <form-inline [description]="trainingInformationDesc" [valid]="serviceForm.get('trainingInformation').valid" [params]="'tooltip'">
                                        <input class="uk-input" type="text" placeholder="{{trainingInformationDesc.label}}"
                                               formControlName="trainingInformation" [ngClass]="{'uk-form-danger': !serviceForm.get('trainingInformation').valid}">
                                    </form-inline>
                                    <form-inline [description]="feedbackDesc" [valid]="serviceForm.get('feedback').valid" [params]="'tooltip'">
                                        <input class="uk-input" type="text" placeholder="{{feedbackDesc.label}}"
                                               formControlName="feedback" [ngClass]="{'uk-form-danger': !serviceForm.get('feedback').valid}">
                                    </form-inline>
                                    <form-inline [description]="pricingModelDesc" [valid]="serviceForm.get('pricingModel').valid" [params]="'tooltip'">
                                        <input class="uk-input" type="text" placeholder="{{pricingModelDesc.label}}"
                                               formControlName="pricingModel" [ngClass]="{'uk-form-danger': !serviceForm.get('pricingModel').valid}">
                                    </form-inline>
                                    <form-inline [description]="serviceLevelAgreementDesc" [valid]="serviceForm.get('serviceLevelAgreement').valid" [params]="'tooltip'">
                                        <input class="uk-input" type="text" placeholder="{{serviceLevelAgreementDesc.label}}"
                                               formControlName="serviceLevelAgreement" [ngClass]="{'uk-form-danger': !serviceForm.get('serviceLevelAgreement').valid}">
                                    </form-inline>
                                    <!--<form-repeat-inline [component]="termsOfUseComponent" [parentGroup]="serviceForm"-->
                                                        <!--[name]="'termsOfUse'" [required]="true" [description]="termsOfUseDesc">-->
                                    <!--</form-repeat-inline>-->
                                    <button [disabled]="!serviceForm.valid" type="submit" class="btn btn-primary block full-width m-b">{{editMode ? "Update":"Add"}}</button>
                                </form>
                                <pre>
                                    {{serviceForm.value | json}}
                                </pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
