<div class="tm-header  tm-header-transparent uk-margin-top uk-margin-medium-bottom" uk-header="">
    <div class="uk-container uk-container-expand">
        <nav class="uk-navbar" uk-navbar="{&quot;align&quot;:&quot;left&quot;}">
            <div class="uk-navbar-center">
                <div class="uk-logo uk-navbar-item">
                    <a routerLink="/home"><img alt="eInfraCentral" class="uk-responsive-height" src="./imgs/einfracentral_logo_horizontal.png"></a>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="first_page_section uk-section-default uk-section uk-padding-remove-vertical">
    <div class="first_page_banner_headline uk-grid-collapse uk-flex-middle uk-margin-remove-vertical uk-grid uk-grid-stack" uk-grid="">
    </div>
</div>
<div class=" uk-section  uk-margin-small-top tm-middle custom-main-content" id="tm-main">
    <div class="uk-container uk-container-small uk-margin-medium-top  uk-margin-small-bottom uk-text-center">
        <h2 class="uk-h2 uk-margin-small-bottom">Welcome to eInfraCentral</h2>
        <div class="uk-text-meta uk-margin-large-bottom">Sign in to gain full access of our services</div>
        <div uk-grid="" class="uk-grid uk-grid-stack">
            <div class="tm-main uk-width-1-1@s uk-width-1-1@m  uk-width-1-1@l uk-row-first uk-first-column">

                <div class="uk-grid">


                    <!-- LEFT SIDE -->
                    <div class="uk-width-1-2@m uk-width-1-1@s uk-text-left uk-margin-large-bottom" style="border-right:1px solid #ddd">
                        <h3 class="uk-h3">Use your academic/social account</h3>
                        <h5 class="uk-h5 uk-margin-small">Academic</h5><a href="#" title="Login through your institution (EDUGAIN)" rel="nofollow"><img class="uk-icon-button uk-margin-small-right" src="./imgs/Edugain_001.png" width="60px"></a>
                        <a href="#" title="Login with your ORCID id" rel="nofollow"><img class="uk-icon-button uk-margin-small-right" src="./imgs/Orcid_001.png" width="60px"></a>
                        <h5 class="uk-h5 uk-margin-small">Social</h5><a href="#" title="Login through your linkedin account" rel="nofollow"><img class="uk-icon-button uk-margin-small-right" src="./imgs/Linkedin_001.jpg" width="60px"></a>
                        <a href="#" title="Login through your google+ account" rel="nofollow"><img class="uk-icon-button uk-margin-small-right" src="./imgs/Google_001.jpg" width="60px"></a>
                        <a href="#" title="Login through your github account" rel="nofollow"><img class="uk-icon-button uk-margin-small-right" src="./imgs/Github_001.png" width="60px"></a>
                        <a href="#" title="Login through your facebook account" rel="nofollow"><img class="uk-icon-button uk-margin-small-right" src="./imgs/Facebook_001.jpg" width="60px"></a>
                        <!-- <a href="#" title="Login through your windows live account" rel="nofollow"><img src="./Search OpenAIRE_files/Live_001.png" width="60px"></a> -->
                        <a href="#" title="Login through your windows live account" rel="nofollow"><img class="uk-icon-button uk-margin-small-right" src="./imgs/Live_001.png" width="60px"></a>
                    </div>
                    <!-- END OF LEFT SIDE -->


                    <!-- RIGHT SIDE -->
                    <div class="uk-width-1-2@m uk-width-1-1@s uk-text-left">
                        <h3 class="uk-h3">Use your eInfraCentral account</h3>
                        <div class="middle-box text-center loginscreen animated fadeInDown ">

                            <div id="loginForm">
                                <div *ngIf="errorMessage" data-uk-alert="" class="uk-alert uk-alert-danger">
                                    <p>{{errorMessage}}</p>
                                </div>
                                <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value, loginForm.valid)" role="form" class="m-t">
                                    <!--<div class="alert alert-success" style="display: none;" aria-hidden="true"></div>-->
                                    <!--<div class="alert alert-danger" style="display: none;" aria-hidden="true"></div>-->
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Email (*)" type="text" formControlName="email">
                                    </div>
                                    <div class="form-group">
                                        <input id="creds_password" name="password" required="" formControlName="password"
                                               placeholder="Password" class="form-control" type="password">
                                    </div>
                                    <button type="submit" class="btn btn-primary block full-width m-b">
                                        Login
                                    </button>
                                    <a routerLink="/forgotPassword">
                                        <small>Forgot password?</small>
                                    </a>
                                    <p class="text-muted text-center">
                                        <small>Do not have an account?</small>
                                    </p>
                                    <a routerLink="/signUp" class="btn btn-sm btn-white btn-block">Create an account</a>
                                </form>
                            </div>

                        </div>
                    </div>
                    <!-- END OF RIGHT SIDE -->


                </div>


            </div>
        </div>
    </div>
</div>