.block {
    display: block;
}

.full-width {
    width: 100% !important;
}

.m-b {
    margin-bottom: 15px;
}

body.mini-navbar.fixed-sidebar .profile-element, .block {
    display: block !important;
}
input.ng-dirty.ng-invalid  {
    color: red;
}

.middle-box {
    max-width: 400px;
    z-index: 100;
    margin: 0 auto;
    /*padding-top: 40px;*/
    padding-bottom: 40px;
}

.loginscreen.middle-box {
    width: 400px;
}