<div id="tm-main" class="tm-main uk-section uk-section-default" uk-height-viewport="expand: true" style="box-sizing: border-box;">
    <div class="uk-container">
        <div class="uk-grid" uk-grid="">

            <template [ngIf]="errorMessage">
                <div class="uk-width-expand@m uk-first-column">
                    <div data-uk-alert="" class="uk-alert uk-alert-danger">
                        <p>{{errorMessage}}</p>
                    </div>
                </div>
            </template>

            <template [ngIf]="languageDescription && !errorMessage">

                <div class="uk-width-1-1 uk-row-first uk-clearfix">
                    <h2 class="uk-h2" *ngIf="languageDescription.languageDescriptionInfo.identificationInfo.resourceNames
                            && languageDescription.languageDescriptionInfo.identificationInfo.resourceNames.length>0">
                        {{languageDescription.languageDescriptionInfo.identificationInfo.resourceNames[0].value}}
                    </h2>

                </div>

                <div class="uk-width-expand@m uk-first-column">

                    <ul class="uk-subnav">
                        <li *ngIf="languageDescription.languageDescriptionInfo.identificationInfo.resourceShortNames
                                && languageDescription.languageDescriptionInfo.identificationInfo.resourceShortNames.length>0"
                            class="element element-text">
                            <strong>{{languageDescription.languageDescriptionInfo.identificationInfo.resourceShortNames[0].value}} </strong> </li>
                    </ul>

                    <div class="resourceIdentifiers" *ngIf="languageDescription.languageDescriptionInfo.identificationInfo.identifiers
                            && languageDescription.languageDescriptionInfo.identificationInfo.identifiers.length>0">
                        <div *ngFor="let identifier of languageDescription.languageDescriptionInfo.identificationInfo.identifiers">
                            <a href="{{identifier.value}}" target="_blank">{{identifier.value}}</a>
                        </div>
                    </div>

                    <ul class="uk-list" *ngIf="languageDescription.languageDescriptionInfo.identificationInfo.descriptions
                                                    && languageDescription.languageDescriptionInfo.identificationInfo.descriptions.length>0">
                        <li *ngFor="let description of languageDescription.languageDescriptionInfo.identificationInfo.descriptions; let isFirst = first;"
                            [class.uk-margin-top]="!isFirst">
                            {{description.value}}
                        </li>
                    </ul>
                    <div *ngIf="languageDescription.languageDescriptionInfo.languageDescriptionType" class="uk-subnav uk-subnav-line languageDescriptionType">
                        <strong>{{languageDescription.languageDescriptionInfo.languageDescriptionType}} </strong>
                    </div>
                    <version-info *ngIf="languageDescription.languageDescriptionInfo.versionInfo"
                                  [versionInfo]="languageDescription.languageDescriptionInfo.versionInfo">
                    </version-info>
                    <resource-documentation-info *ngIf="languageDescription.languageDescriptionInfo.resourceDocumentationInfo"
                                                 [resourceDocumentationInfo]="languageDescription.languageDescriptionInfo.resourceDocumentationInfo">
                    </resource-documentation-info>



                    <!--TABS-->
                    <ul class=" uk-tab uk-visible@m" uk-tab="connect: #infoTabs; animation: uk-animation-fade">
                        <li *ngIf="languageDescription.languageDescriptionInfo.distributionInfos
                        && languageDescription.languageDescriptionInfo.distributionInfos.length>0">
                            <a>Distribution</a>
                        </li>
                        <li *ngIf="languageDescription.languageDescriptionInfo.validationInfos
                        && languageDescription.languageDescriptionInfo.validationInfos.length>0">
                            <a>Validations</a>
                        </li>
                        <li *ngIf="languageDescription.languageDescriptionInfo.usageInfo">
                            <a>Usage</a>
                        </li>
                    </ul>

                    <button class="uk-button uk-button-default uk-hidden@m" type="button">
                        <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">{{activeTab}}</span>
                    </button>

                    <ul id="toggle-small-tabs" class="uk-subnav uk-subnav-pill uk-dropdown uk-hidden@m" uk-switcher="{connect: #infoTabs; animation: uk-animation-fade}" uk-dropdown="mode: click" uk-toggle="target: #toggle-small-tabs">
                        <li *ngIf="languageDescription.languageDescriptionInfo.distributionInfos
                        && languageDescription.languageDescriptionInfo.distributionInfos.length>0">
                            <a>Distribution</a>
                        </li>
                        <li *ngIf="languageDescription.languageDescriptionInfo.validationInfos
                        && languageDescription.languageDescriptionInfo.validationInfos.length>0">
                            <a>Validations</a>
                        </li>
                        <li *ngIf="languageDescription.languageDescriptionInfo.usageInfo">
                            <a>Usage</a>
                        </li>
                    </ul>

                    <ul id="infoTabs" class="uk-switcher  uk-width-1-1 uk-margin-top custom-tab-content-large">
                        <li *ngIf="languageDescription.languageDescriptionInfo.distributionInfos
                        && languageDescription.languageDescriptionInfo.distributionInfos.length>0">
                            <dataset-distribution-info *ngFor="let distributionInfo of languageDescription.languageDescriptionInfo.distributionInfos"
                                                       [datasetDistributionInfo]="distributionInfo"></dataset-distribution-info>
                        </li>
                        <li *ngIf="languageDescription.languageDescriptionInfo.validationInfos
                        && languageDescription.languageDescriptionInfo.validationInfos.length>0">
                            <validation-info *ngFor="let validationInfo of languageDescription.languageDescriptionInfo.validationInfos"
                                             [validationInfo]="validationInfo"></validation-info>
                        </li>
                        <li *ngIf="languageDescription.languageDescriptionInfo.usageInfo">
                            <usage-info [usageInfo]="languageDescription.languageDescriptionInfo.usageInfo"></usage-info>
                        </li>
                    </ul>

                </div>

                <!--SIDEBAR-->
                <div class="tm-sidebar uk-width-1-4@m">

                    <div *ngIf="languageDescription.languageDescriptionInfo.contactInfo" class="uk-card uk-card-body uk-card-default sidemenu">
                        <contact-info [contactInfo]="languageDescription.languageDescriptionInfo.contactInfo"></contact-info>
                    </div>

                    <div *ngIf="languageDescription.languageDescriptionInfo.resourceCreationInfo" class="uk-card uk-card-body uk-card-default sidemenu uk-margin-top">
                        <resource-creation-info [resourceCreationInfo]="languageDescription.languageDescriptionInfo.resourceCreationInfo"></resource-creation-info>
                    </div>
                </div>

            </template>




        </div>
    </div>
</div>