<div *ngIf="annotationsInfo.rawCorpus">
    <h4>Raw Corpus</h4>
    <span *ngIf="annotationsInfo.rawCorpus.resourceNames && annotationsInfo.rawCorpus.resourceNames.length>0">
        {{annotationsInfo.rawCorpus.resourceNames[0].value}}
    </span>
    <span *ngIf="annotationsInfo.rawCorpus.resourceIdentifiers && annotationsInfo.rawCorpus.resourceIdentifiers.length>0">
        {{annotationsInfo.rawCorpus.resourceIdentifiers[0].value}}
    </span>
</div>
<div *ngIf="annotationsInfo.annotationInfo" class="uk-margin-top">
    <h4>Annotation</h4>
    <annotation-info [annotationInfo]="annotationsInfo.annotationInfo"></annotation-info>
</div>