<div>
    <div *ngIf="componentCreationInfo.framework">
        <strong>Framework: </strong> {{componentCreationInfo.framework}}
    </div>
    <div *ngIf="componentCreationInfo.implementationLanguage && componentCreationInfo.implementationLanguage.length>0">
        <strong>Implementation languages: </strong>
        <span *ngFor="let implementationLanguage of componentCreationInfo.implementationLanguage; let isLast = last;">
            {{implementationLanguage}}{{isLast ? '' : ', '}}
        </span>
    </div>
    <div *ngIf="componentCreationInfo.formalism && componentCreationInfo.formalism.length>0">
        <strong>Formalisms: </strong>
        <span *ngFor="let formalism of componentCreationInfo.formalism; let isLast = last;">
            {{formalism}}{{isLast ? '' : ', '}}
        </span>
    </div>
    <div *ngIf="componentCreationInfo.hasOriginalSource && componentCreationInfo.hasOriginalSource.length>0">
        <strong>Has original source: </strong> {{componentCreationInfo.hasOriginalSource[0].value}}
    </div>
    <div *ngIf="componentCreationInfo.creationDetails">
        <strong>Creation details: </strong> {{componentCreationInfo.creationDetails}}
    </div>
</div>