<div>
    <div *ngIf="componentCreationInfo.framework">
        <strong>Framework: </strong> {{componentCreationInfo.framework}}
    </div>
    <div *ngIf="componentCreationInfo.implementationLanguage">
        <strong>Implementation language: </strong>
        <span>
            {{implementationLanguage}}
        </span>
    </div>
    <div *ngIf="componentCreationInfo.formalism">
        <strong>Formalism: </strong>
        <span>
            {{formalism}}
        </span>
    </div>
    <div *ngIf="componentCreationInfo.hasOriginalSource && componentCreationInfo.hasOriginalSource.length>0">
        <strong>Has original source: </strong> {{componentCreationInfo.hasOriginalSource[0].value}}
    </div>
    <div *ngIf="componentCreationInfo.creationDetails">
        <strong>Creation details: </strong> {{componentCreationInfo.creationDetails}}
    </div>
</div>