<div>
    <div *ngIf="componentDocumentationInfo.onLineHelpURL">
        <strong>Online help URL: </strong> {{componentDocumentationInfo.onLineHelpURL}}
    </div>
    <div *ngIf="componentDocumentationInfo.hasManual">
        <strong>Has manual: </strong>
        <span *ngIf="componentDocumentationInfo.hasManual.documentUnstructured">
            {{componentDocumentationInfo.hasManual.documentUnstructured}}
        </span>
        <span *ngIf="componentDocumentationInfo.hasManual.publicationIdentifiers
        && componentDocumentationInfo.hasManual.publicationIdentifiers.length>0">
            {{componentDocumentationInfo.hasManual.publicationIdentifiers[0].value}}
        </span>
    </div>
    <div *ngIf="componentDocumentationInfo.issueTracker">
        <strong>Issue tracker: </strong> {{componentDocumentationInfo.issueTracker}}
    </div>
</div>