<h4 class="uk-margin-top-remove">Resource Creation Info </h4>
<ul class="uk-list">
    <li *ngIf="resourceCreationInfo.creationDate">
        <strong>Creation Date: </strong>
        <span *ngIf="resourceCreationInfo.creationDate.date">
            {{resourceCreationInfo.creationDate.date.month}}/{{resourceCreationInfo.creationDate.date.day}}/{{resourceCreationInfo.creationDate.date.year}}
        </span>
        <span *ngIf="resourceCreationInfo.creationDate.dateRange">
            {{resourceCreationInfo.creationDate.dateRange.startDate.month}}/{{resourceCreationInfo.creationDate.dateRange.startDate.day}}/{{resourceCreationInfo.creationDate.dateRange.startDate.year}}
            -
            {{resourceCreationInfo.creationDate.dateRange.endDate.month}}/{{resourceCreationInfo.creationDate.dateRange.endDate.day}}/{{resourceCreationInfo.creationDate.dateRange.endDate.year}}
        </span>
    </li>
    <li *ngIf="resourceCreationInfo.resourceCreators
        && resourceCreationInfo.resourceCreators.length>0">
        <strong>Creators: </strong>
        <span *ngFor="let creator of resourceCreationInfo.resourceCreators; let isLast = last;">
            <span *ngIf="creator.relatedPerson && creator.relatedPerson.personNames && creator.relatedPerson.personNames.length>0">
                {{creator.relatedPerson.personNames[0].value}}
            </span>
            <span *ngIf="creator.relatedPerson && creator.relatedPerson.personIdentifiers && creator.relatedPerson.personIdentifiers.length>0">
                {{creator.relatedPerson.personIdentifiers[0].value}}
            </span>
            <span *ngIf="creator.relatedOrganization && creator.relatedOrganization.organizationNames && creator.relatedOrganization.organizationNames.length>0">
                {{creator.relatedOrganization.organizationNames[0].value}}
            </span>
            <span *ngIf="creator.relatedOrganization && creator.relatedOrganization.organizationIdentifiers && creator.relatedOrganization.organizationIdentifiers.length>0">
                {{creator.relatedOrganization.organizationIdentifiers[0].value}}
            </span>
            {{isLast ? '' : ', '}}
        </span>
    </li>
    <li *ngIf="resourceCreationInfo.fundingProjects
        && resourceCreationInfo.fundingProjects.length>0">
        <strong>Funded by: </strong>
        <span *ngFor="let fundingProject of resourceCreationInfo.fundingProjects; let isLast = last;">
            <span *ngIf="fundingProject.projectNames && fundingProject.projectNames.length>0">
                {{fundingProject.projectNames[0].value}}
            </span>
            <span *ngIf="fundingProject.projectIdentifiers && fundingProject.projectIdentifiers.length>0">
                {{fundingProject.projectIdentifiers[0].value}}
            </span>
            {{isLast ? '' : ', '}}
        </span>
    </li>
</ul>