<div *ngIf="rightsInfo.licenceInfos && rightsInfo.licenceInfos.length>0" class="rightsInfo">
    <!--<h5>License Infos</h5>-->
    <license-info *ngFor="let licenseInfo of rightsInfo.licenceInfos" [licenseInfo]="licenseInfo"></license-info>
</div>
<div *ngIf="rightsInfo.rightsStatementInfo">
    <a *ngIf="rightsInfo.rightsStatementInfo.rightsStmtURL" href="{{rightsInfo.rightsStatementInfo.rightsStmtURL}}" target="_blank">
        <span *ngIf="rightsInfo.rightsStatementInfo.rightsStmtName">{{rightsInfo.rightsStatementInfo.rightsStmtName}}</span>
        <span *ngIf="!rightsInfo.rightsStatementInfo.rightsStmtName">{{rightsInfo.rightsStatementInfo.rightsStmtURL}}</span>
    </a>
    <span *ngIf="!rightsInfo.rightsStatementInfo.rightsStmtURL && rightsInfo.rightsStatementInfo.rightsStmtName">
        {{rightsInfo.rightsStatementInfo.rightsStmtName}}
    </span>
</div>