<ul class="uk-list">
    <li *ngIf="validationInfo.validated" class="uk-badge">
        <strong>Validated</strong>
    </li>
    <li *ngIf="!validationInfo.validated" class="uk-badge uk-badge-warning">
        <strong>Not validated</strong>
    </li>
    <li *ngIf="validationInfo.validationType">
        <strong>Validation type: </strong>{{validationInfo.validationType}}
    </li>
    <li *ngIf="validationInfo.validationMode">
        <strong>Validation mode: </strong>{{validationInfo.validationMode}}
    </li>
    <li *ngIf="validationInfo.validationModeDetails">
        <strong>Validation mode details: </strong>{{validationInfo.validationModeDetails}}
    </li>
    <li *ngIf="validationInfo.validationExtent">
        <strong>Validation extent: </strong>{{validationInfo.validationExtent}}
    </li>
    <li *ngIf="validationInfo.validationExtentDetails">
        <strong>Validation extent details: </strong>{{validationInfo.validationExtentDetails}}
    </li>
    <li *ngIf="validationInfo.sizePerValidation">
        <strong>Size per validation: </strong>
        <span *ngIf="validationInfo.sizePerValidation.size">
            {{validationInfo.sizePerValidation.size}}
        </span>
        <span *ngIf="validationInfo.sizePerValidation.sizeUnit">
            {{validationInfo.sizePerValidation.sizeUnit}}
        </span>
    </li>
    <li *ngIf="validationInfo.validationReports && validationInfo.validationReports.length>0">
        <strong>Validation reports: </strong>
        <span *ngFor="let validationReport of validationInfo.validationReports; let isLast = last;">
            <span *ngIf="validationReport.documentUnstructured">
                {{validationReport.documentUnstructured}}
            </span>
            <span *ngIf="validationReport.publicationIdentifiers && validationReport.publicationIdentifiers.length>0">
                {{validationReport.publicationIdentifiers[0].value}}
            </span>
            {{isLast ? '' : ', '}}
        </span>
    </li>
    <li *ngIf="validationInfo.validationSwComponents && validationInfo.validationSwComponents.length>0">
        <strong>Validation software components: </strong>
        <span *ngFor="let validatorComponent of validationInfo.validationSwComponents; let isLast = last;">
            <span *ngIf="validatorComponent.resourceNames && validatorComponent.resourceNames.length>0">
                {{validatorComponent.resourceNames[0].value}}
            </span>
            <span *ngIf="validatorComponent.resourceIdentifiers && validatorComponent.resourceIdentifiers.length>0">
                {{validatorComponent.resourceIdentifiers[0].value}}
            </span>
            {{isLast ? '' : ', '}}
        </span>
    </li>
    <li *ngIf="validationInfo.validators && validationInfo.validators.length>0">
        <strong>Validators: </strong>
        <span *ngFor="let validator of validationInfo.validators; let isLast = last;">
            <span *ngIf="validator.relatedPerson && validator.relatedPerson.personNames && validator.relatedPerson.personNames.length>0">
                {{validator.relatedPerson.personNames[0].value}}
            </span>
            <span *ngIf="validator.relatedPerson && validator.relatedPerson.personIdentifiers && validator.relatedPerson.personIdentifiers.length>0">
                {{validator.relatedPerson.personIdentifiers[0].value}}
            </span>
            <span *ngIf="validator.relatedOrganization && validator.relatedOrganization.organizationNames && validator.relatedOrganization.organizationNames.length>0">
                {{validator.relatedOrganization.organizationNames[0].value}}
            </span>
            <span *ngIf="validator.relatedOrganization && validator.relatedOrganization.organizationIdentifiers && validator.relatedOrganization.organizationIdentifiers.length>0">
                {{validator.relatedOrganization.organizationIdentifiers[0].value}}
            </span>
            {{isLast ? '' : ', '}}
        </span>
    </li>
</ul>