.uk-vertical-align-top {
    vertical-align: top;
}

.rateButton {
    background-color: #FFc058;
    border-color: #FFc058;
    color: #ffffff;
    width: 100%;
}

.rateButton:hover {
    background-color: #E9a432;
    border-color: #E9a432;
}

.editButton {
    background-color: #29b22e;
    border-color: #29b22e;
    color: #ffffff;
    width: 100%;
}

.editButton:hover {
    background-color: #0f6f13;
    border-color: #0f6f13;
}

.tags .uk-label-primary {
    background: #214c9c none repeat scroll 0 0;
    color: #fff;
    border-color: #254190;
}

.uk-description-list > dt {
    color: #222;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: "Open Sans";
}

.uk-description-list > dd {
    font-size: 14px;
    font-weight: normal;
    font-family: "Open Sans";
    font-style: normal;
}

.tagLine {
    margin-bottom: 15px;
    color: #D1303A;
}

a, .uk-link {
    color: #214c9c;
}

a:hover, .uk-link:hover {
    color: #d1303a;
}

.uk-tab > * > a:hover, .uk-tab > * > a:focus {
    color: #214c9c;
}

.uk-tab > * > a, .nav-tabs > li > a {
    color: #524f4f;
}

.uk-tab > .uk-active > a, .nav-tabs > .active > a {
    border-color: #214c9c;
    color: #214c9c;
}