.uk-vertical-align-top {
    vertical-align: top;
}

.rateButton {
    background-color: #FFc058;
    border-color: #FFc058;
    color: #ffffff;
}

.rateButton:hover {
    background-color: #E9a432;
    border-color: #E9a432;
}