<div class="tm-header  tm-header-transparent uk-margin-top uk-margin-medium-bottom" uk-header="">
    <div class="uk-container uk-container-expand">
        <nav class="uk-navbar" uk-navbar="{&quot;align&quot;:&quot;left&quot;}">
            <div class="uk-navbar-center">
            </div>
        </nav>
    </div>
</div>
<div class=" uk-section  uk-margin-small-top tm-middle custom-main-content" id="tm-main">
    <div *ngIf="errorMessage" data-uk-alert="" class="uk-alert uk-alert-danger">
        <p>{{errorMessage}}</p>
    </div>
    <div *ngIf="successMessage" data-uk-alert="" class="uk-alert uk-alert-success">
        <p>{{successMessage}}</p>
    </div>
</div>
