.search_box_bg .uk-button-default {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.uk-table th {
    text-align: center;
}

.actionIcons {
    height: 30px;
}

.actionIcons a {
    color: #bbbbbb;
}

.actionIcons i {
    margin: 10px;
}

/*thead {*/
    /*width: 100% !important;*/
/*}*/

.tablehead {
    width: inherit !important;
}

/*.header{*/
    /*position: -webkit-sticky;*/
    /*position: sticky;*/
    /*top: 20px;*/
/*}*/

.serviceBrandName {
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.fieldName {
    color: #909090;
    font-size: 12px;
    margin-bottom: 10px !important;
    text-transform: uppercase;
}