.group {
    border: 1px dashed #ccc;
    padding: 15px 0px;
    margin-bottom: 15px;
}

.radio-label {
    padding-left: 0px;
}

.radio-label input {
    margin-top: 10px;
}

.group-label {
    letter-spacing: 1.5px;
    padding-bottom: 10px;
}