<accordion-group #group [panelClass]="customClass"
                 [isOpen]="true" [panelClass]="myForm.valid ? 'panel-success' : 'panel-danger'">
    <div accordion-heading>
        <span>Contact Info
            <i class="fa" [ngClass]="{'fa-angle-down': !group?._isOpen, 'fa-angle-up': group?._isOpen}" aria-hidden="true"></i>
        </span>
    </div>
    <div class="form-group form-inline">
        <label class="col-sm-2 col-md-2 control-label">
            Choose
        </label>
        <div class="col-sm-10 col-md-10">
            <div *ngFor="let radio of radioButton">
                <label class="col-sm-2 col-md-2 radio-label">
                    <input type="radio" name="options{{name + index}}" [checked]="radio === radioButtonSelected"
                           (click)="changeType(radio)">
                    {{radio}}
                </label>
            </div>
        </div>
    </div>

    <div *ngIf="radioButtonSelected==='Contact Email'">
        <div [formGroup]="myForm" [ngClass]="{'has-error':!myForm.valid}">
            <div class="form-group">
                <div class="col-sm-offset-2 col-md-offset-2 col-sm-9 col-md-9">
                    <div class="form-group">
                        <div class="col-sm-12 col-md-12">
                            <input type="text" class="form-control" formControlName="contactEmail" placeholder="Email">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="radioButtonSelected==='Landing Page'">
        <div [formGroup]="myForm" [ngClass]="{'has-error':!myForm.valid}">
            <div class="form-group">
                <div class="col-sm-offset-2 col-md-offset-2 col-sm-9 col-md-9">
                    <div class="form-group">
                        <div class="col-sm-12 col-md-12">
                            <input type="text" class="form-control" formControlName="landingPage" placeholder="Page">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group-divider"></div>

    <related-commons [group]="myForm" [name]="'contactPersons'" [type]="'person'"
                     [schemeEnum]="personEnum" [label]="'Contact'" [topLabel]="'Contact Person'"></related-commons>
</accordion-group>