<accordion-group #group1 [panelClass]="customClass"
                 [isOpen]="true" [panelClass]="group.valid ? 'panel-success' : 'panel-danger'">
    <div accordion-heading>
        <span>Contact Info
            <i class="fa" [ngClass]="{'fa-angle-down': !group1?._isOpen, 'fa-angle-up': group1?._isOpen}" aria-hidden="true"></i>
        </span>
    </div>

    <form-inline [description]="{label : 'Choose'}" [params]="null">
        <div *ngFor="let radio of radioButton">
            <label class="col-sm-3 col-md-3 radio-label">
                <input type="radio" name="options{{name + index}}" [checked]="radio === radioButtonSelected"
                       (click)="changeType(radio)">
                {{radio}}
            </label>
        </div>
    </form-inline>

    <div [formGroup]="group">
        <!--<div formGroupName="{{name}}">-->
            <div [hidden]="radioButtonSelected!=='Contact Email'">
                <form-inline [description]="emailDesc" [valid]="group.valid">
                    <input type="text" class="form-control" formControlName="contactEmail" placeholder="Email">
                </form-inline>
            </div>

            <div [hidden]="radioButtonSelected!=='Landing Page'">
                <form-inline [description]="landingPageDesc" [valid]="group.valid">
                    <input type="text" class="form-control" formControlName="landingPage" placeholder="Page">
                </form-inline>
            </div>

            <div [hidden]="radioButtonSelected!=='Contact Person'">
                <form-repeat [component]="type" [parentGroup]="group" [name]="'contactPersons'" [required]="true" [description]="contactInfoDesc">
                </form-repeat>
            </div>
        <!--</div>-->
    </div>
</accordion-group>