<div [formGroup]="formArray">
    <div *ngFor="let c of formArray.controls; let i=index" class="group">
        <div class="col-md-offset-2 col-sm-offset-2">
            <div class="group-label">Metadata Creator <a class="remove-element col-sm-1 col-md-1" (click)="delete_creator(i)">
                <i class="fa fa-times" aria-hidden="true"></i></a></div>
        </div>
        <div formGroupName="{{i}}">
            <related-person [group]="c" [personLabel]="'Creator'" [index]="i"></related-person>
        </div>

    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-md-offset-2 col-sm-9 col-md-9">
            <a class="add-new-element" (click)="add_new()"><i class="fa fa-plus" aria-hidden="true"></i>
                Add New Creator</a>
        </div>
    </div>
</div>