<div [formGroup]="myForm">
    <!--<div class="form-group">-->
        <label *ngIf="index == -1 || index==0" class="col-sm-2 col-md-2 control-label">{{label}}</label>
        <div *ngIf="index != -1 && index!=0" class="col-sm-2 col-md-2 control-label"></div>

        <div class="col-sm-4 col-md-4">
            <input type="text" class="form-control" formControlName="value" placeholder="value">
        </div>
        <div class="col-sm-2 col-md-2">
            <!--[ngClass]="{'has-error':!myForm.controls['metadataIdentifierSchemeName'].valid-->
            <!--&& !myForm.controls['metadataIdentifierSchemeName'].pristine}"-->
            <select name="role" class="form-control" formControlName="{{name}}SchemeName">
                <option *ngFor="let value of schemeUriValues" [value]="value.key">
                    {{value.value}}
                </option>
            </select>
        </div>
        <div class="col-sm-3 col-md-3">
            <input type="text" class="form-control" formControlName="schemeUri" placeholder="uri">
        </div>
    <!--</div>-->
</div>