<template #customItemTemplate let-model="item">
    <h5>{{model.value}} - {{ model.key }}</h5>
</template>

<div [formGroup]="group">
    <form-inline [description]="languageIdDesc">
        <input type="hidden" class="form-control" formControlName="languageTag" placeholder="Language Tag">
        <div class="col-sm-2 col-md-2" [ngClass]="{'has-error':!group.controls.languageTag.valid}">
            <input type="text" class="form-control" placeholder="Language id" formControlName="languageId"

                   [typeahead]="languageIdEnum"
                   [typeaheadItemTemplate]="customItemTemplate"
                   (typeaheadOnSelect)="setLanguageId($event)"
                   [typeaheadOptionField]="'value'">
        </div>
        <div class="col-sm-2 col-md-2">
            <select name="role" class="form-control" formControlName="scriptId">
                <option *ngFor="let value of scriptIdEnum" [value]="value.key" [selected]="value.key == ''">
                    {{value.value}}
                </option>
            </select>
        </div>
        <div class="col-sm-2 col-md-2">
            <select name="role" class="form-control" formControlName="regiontId">
                <option *ngFor="let value of regionIdEnum" [value]="value.key" [selected]="value.key == ''">
                    {{value.value}}
                </option>
            </select>
        </div>
        <div class="col-sm-3 col-md-3">
            <select name="role" class="form-control" formControlName="variantId">
                <option *ngFor="let value of variantIdEnum" [value]="value.key" [selected]="value.key == ''">
                    {{value.value}}
                </option>
            </select>
        </div>
    </form-inline>
</div>