<div [formGroup]="myForm">
    <div class="form-group">
        <label class="col-sm-2 control-label">{{languageTagDesc.label}}</label>
        <div class="col-sm-10 col-md-9">
            <input type="text" class="form-control" formControlName="languageTag" placeholder="Language Tag">
        </div>
        <a *ngIf="withIdentifier==false" class="add-element col-sm-1 col-md-1" (click)="addIdentifier()"><i
                class="fa fa-plus" aria-hidden="true"></i></a>
    </div>
    <div class="form-group" *ngIf="withIdentifier==true">
        <label class="col-sm-2 control-label">{{languageIdDesc.label}}</label>
        <div class="col-sm-2 col-md-2">
            <input type="text" class="form-control" formControlName="languageId" placeholder="Language id"
                   [typeahead]="languageIdEnum"
                   [typeaheadOptionField]="'value'">
        </div>
        <div class="col-sm-2 col-md-2">
            <select name="role" class="form-control" formControlName="scriptId">
                <option *ngFor="let value of scriptIdEnum" [value]="value.key" [selected]="value.key == ''">
                    {{value.value}}
                </option>
            </select>
        </div>
        <div class="col-sm-2 col-md-2">
            <select name="role" class="form-control" formControlName="regionId">
                <option *ngFor="let value of regionIdEnum" [value]="value.key" [selected]="value.key == ''">
                    {{value.value}}
                </option>
            </select>
        </div>
        <div class="col-sm-3 col-md-3">
            <select name="role" class="form-control" formControlName="variantId">
                <option *ngFor="let value of variantIdEnum" [value]="value.key" [selected]="value.key == ''">
                    {{value.value}}
                </option>
            </select>
        </div>
        <a *ngIf="withIdentifier==true" class="add-element col-sm-1 col-md-1" (click)="deleteIdentifier()"><i
                class="fa fa-times" aria-hidden="true"></i></a>
    </div>
</div>