<!--<accordion-group #group [panelClass]="customClass"-->
                 <!--[isOpen]="true" [panelClass]="myForm.valid ? 'panel-success' : 'panel-danger'">-->
    <!--&lt;!&ndash;<div accordion-heading>&ndash;&gt;-->
        <!--&lt;!&ndash;<span>Metadata Header Info&ndash;&gt;-->
            <!--&lt;!&ndash;<i class="fa" [ngClass]="{'fa-angle-down': !group?._isOpen, 'fa-angle-up': group?._isOpen}" aria-hidden="true"></i>&ndash;&gt;-->
        <!--&lt;!&ndash;</span>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--&lt;!&ndash;<metadata-identifier-form [group]="myForm"></metadata-identifier-form>&ndash;&gt;-->

    <!--&lt;!&ndash;<div class="form-group-divider"></div>&ndash;&gt;-->

    <!--&lt;!&ndash;<related-commons [group]="myForm" [name]="'metadataCreators'" [type]="'person'"&ndash;&gt;-->
                     <!--&lt;!&ndash;[schemeEnum]="personEnum" [label]="'Creator'" [topLabel]="'Metadata Creator'" [required]="true"></related-commons>&ndash;&gt;-->

    <!--&lt;!&ndash;<div class="form-group-divider"></div>&ndash;&gt;-->

    <!--&lt;!&ndash;<languages-types [group]="myForm" [name]="'metadataLanguages'"></languages-types>&ndash;&gt;-->

    <!--&lt;!&ndash;<div class="form-group-divider"></div>&ndash;&gt;-->

    <!--&lt;!&ndash;<div [formGroup]="myForm">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
            <!--&lt;!&ndash;<label class="col-sm-2 control-label">{{revisionDesc.label}}</label>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="col-sm-10 col-md-8" [ngClass]="{'has-error':!myForm.controls.revision.valid}">&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="text" class="form-control" formControlName="revision">&ndash;&gt;-->
                <!--&lt;!&ndash;<small>{{revisionDesc.desc}}</small>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--&lt;!&ndash;<div class="form-group-divider"></div>&ndash;&gt;-->

<!--</accordion-group>-->
