<div id="tm-main" class="tm-main uk-section uk-section-default" uk-height-viewport="expand: true" style="box-sizing: border-box;">
    <div class="uk-container">
        <div class="uk-grid" uk-grid="">

            <template [ngIf]="errorMessage">
                <div class="uk-width-expand@m uk-first-column">
                    <div data-uk-alert="" class="uk-alert uk-alert-danger">
                        <p>{{errorMessage}}</p>
                    </div>
                </div>
            </template>

            <template [ngIf]="service && !errorMessage">

                <div class="uk-width-1-1 uk-row-first uk-clearfix">

                    <div class="uk-grid">
                        <div class="uk-width-3-4@m">
                            <img src="{{service.symbol || 'http://fvtelibrary.com/img/user/NoLogo.png'}}" style="max-width: 110px; margin: 32px 32px 0px 0px;">
                            <div class="uk-display-inline-block uk-vertical-align-top uk-margin-top">
                                <h2 class="uk-h2 uk-inline" style="margin-bottom: 5px">
                                    <a target="_blank" [href]="service.url" (click)="visit()">
                                      {{service.name || "Not Available"}}
                                    </a>
                                </h2>
                                <div>by {{service.providers | lookup:providers | join:", "}}</div>
                            </div>
                        </div>
                        <div class="uk-width-1-4@m">
                            <div class="uk-margin-top">
                                <star-rating-comp [starType]="'svg'" [rating]="service.averageRating" [step]="1"
                                                  [showHalfStars]="true" [readOnly]=!this.authenticationService.isLoggedIn() [size]="'medium'"
                                                  [staticColor]="'ok'"></star-rating-comp>
                            </div>
                            <div class="uk-margin-top" style="text-align: center">
                                <button class="uk-button uk-button-primary rateButton" (click)="this.rateService()">
                                    <strong>Rate it!</strong> <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                                </button>
                                <div></div>
                                <button class="uk-button uk-button-primary editButton" (click)="this.router.edit(service.id)" routerLinkActive="active">
                                    <strong>Edit it!</strong>
                                </button>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="uk-width-expand@m uk-first-column uk-grid-margin-medium">

                    <div *ngIf="service.tagline && (service.tagline.length>0)" class="tagLine">
                        <i>"{{service.tagline}}"</i>
                    </div>
                    <div *ngIf="!service.tagline || (service.tagline.length==0)" class="tagLine">
                        <i>"--"</i>
                    </div>

                    <hr style="margin-top: 10px; margin-bottom: 8px; border-top: dotted 1px #CCCCCC;" class="ng-scope">

                    <div class="tags" *ngIf="service.lifeCycleStatus || service.trl || service.category || service.subcategory">
                        <span title="Category" uk-tooltip="delay: 500" class="uk-label uk-label-primary">{{service.category || "Service category not available"}}</span>
                        <span title="Subcategory" uk-tooltip="delay: 500" class="uk-label uk-label-primary">{{service.subcategory || "Service subcategory not available"}}</span>
                        <span title="Technology Readiness Level" uk-tooltip="delay: 500" class="uk-label uk-label-primary">TRL {{service.trl || "not available"}}</span>
                        <span title="Phase" uk-tooltip="delay: 500" class="uk-label uk-label-primary">{{service.lifeCycleStatus || "Phase not available"}}</span>
                    </div>

                    <hr style="margin-top: 10px; margin-bottom: 8px; border-top: dotted 1px #CCCCCC;" class="ng-scope">

                    <div class="" *ngIf="service.description">
                        <p>
                            {{service.description}}
                        </p>
                    </div>
                    <div class="" *ngIf="!service.description">
                        <p>
                            Service description not available
                        </p>
                    </div>

                    <dl class="uk-description-list">

                        <template [ngIf]="service.version">
                            <dt>Version</dt>
                            <dd>{{service.version}}</dd>
                        </template>
                        <template [ngIf]="!service.version">
                            <dt>Version</dt>
                            <dd>Not available</dd>
                        </template>

                        <template [ngIf]="service.funding">
                            <dt>Funding sources</dt>
                            <dd>{{service.funding}}</dd>
                        </template>
                        <template [ngIf]="!service.funding">
                            <dt>Funding sources</dt>
                            <dd>Not available</dd>
                        </template>
                    </dl>

                    <template [ngIf]="service.tags && service.tags.length>0">
                        <hr style="margin-top: 10px; margin-bottom: 8px; border-top: dotted 1px #CCCCCC;" class="ng-scope">
                        <span>Service tags</span>
                        <div class="">
                            <span *ngFor="let tag of service.tags" class="uk-label uk-label-default">{{tag}}</span>
                        </div>
                        <hr style="margin-top: 10px; margin-bottom: 8px; border-top: dotted 1px #CCCCCC;" class="ng-scope">
                    </template>

                    <template [ngIf]="!service.tags || service.tags.length==0">
                        <hr style="margin-top: 10px; margin-bottom: 8px; border-top: dotted 1px #CCCCCC;" class="ng-scope">
                        <span>Service tags</span>
                        <div class="">
                            <span class="uk-label uk-label-default">Not available</span>
                        </div>
                        <hr style="margin-top: 10px; margin-bottom: 8px; border-top: dotted 1px #CCCCCC;" class="ng-scope">
                    </template>


                    <!--TABS-->
                    <ul class=" uk-tab uk-visible@m uk-margin-medium-top" uk-tab="connect: #infoTabs; animation: uk-animation-fade">
                        <!--<li *ngIf="service.targetUsers || service.userValue || service.userBase">-->
                        <li>
                            <a>Usage</a>
                        </li>
                        <li>
                            <!--<li *ngIf="service.requiredServices">-->
                            <a>Required Services</a>
                        </li>
                        <li>
                        <!--<li *ngIf="service.relatedServices">-->
                            <a>Related Services</a>
                        </li>
                        <li>
                        <!--<li *ngIf="service.places || service.region || service.language">-->
                            <a>Service Coverage</a>
                        </li>
                        <!--<li *ngIf="service.options || service.price || service.serviceLevelAgreement || service.termsOfUse">-->
                        <li>
                            <a>Contractual Info</a>
                        </li>
                    </ul>

                    <button class="uk-button uk-button-default uk-hidden@m" type="button">
                        <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">{{activeTab}}</span>
                    </button>

                    <ul id="toggle-small-tabs" class="uk-subnav uk-subnav-pill uk-dropdown uk-hidden@m" uk-switcher="{connect: #infoTabs; animation: uk-animation-fade}" uk-dropdown="mode: click" uk-toggle="target: #toggle-small-tabs">
                        <!--<li *ngIf="service.targetUsers || service.userValue || service.userBase">-->
                        <li>
                            <a>Usage</a>
                        </li>
                        <li>
                            <!--<li *ngIf="service.requiredService">-->
                            <a>Required Services</a>
                        </li>
                        <li>
                        <!--<li *ngIf="service.relatedService">-->
                            <a>Related Services</a>
                        </li>
                        <li>
                        <!--<li *ngIf="service.places || service.region || service.language">-->
                            <a>Service Coverage</a>
                        </li>
                        <!--<li *ngIf="service.options || service.price || service.serviceLevelAgreement || service.termsOfUse">-->
                        <li>
                            <a>Contractual Info</a>
                        </li>
                    </ul>

                    <ul id="infoTabs" class="uk-switcher  uk-width-1-1 uk-margin-top custom-tab-content-large">
                        <!--<li *ngIf="service.targetUsers || service.userValue || service.userBase">-->
                        <li>
                            <div class="uk-margin-medium-top">
                                <dl class="uk-description-list">

                                    <template [ngIf]="service.targetUsers">
                                        <dt>Target users</dt>
                                        <dd>{{service.targetUsers}}</dd>
                                    </template>
                                    <template [ngIf]="!service.targetUsers">
                                        <dt>Target users</dt>
                                        <dd>Not available</dd>
                                    </template>

                                    <template [ngIf]="service.userValue">
                                        <dt>User value</dt>
                                        <dd>{{service.userValue}}</dd>
                                    </template>
                                    <template [ngIf]="!service.userValue">
                                        <dt>User value</dt>
                                        <dd>Not available</dd>
                                    </template>

                                    <template [ngIf]="service.userBase">
                                        <dt>User base</dt>
                                        <dd>{{service.userBase}}</dd>
                                    </template>
                                    <template [ngIf]="!service.userBase">
                                        <dt>User base</dt>
                                        <dd>Not available</dd>
                                    </template>

                                </dl>
                            </div>
                        </li>
                        <li>
                            <!--<li *ngIf="service.requiredServices">-->
                            <div class="uk-margin-medium-top">
                                <ul *ngIf="service.requiredServices && service.requiredServices.length > 0">
                                    <li *ngFor="let requiredService of service.requiredServices">{{getPrettyService(requiredService).name}}</li>
                                </ul>
                                <div *ngIf="!service.requiredServices || service.requiredServices.length==0" class="uk-alert uk-alert-warning">
                                    There are no available required services
                                </div>
                            </div>
                        </li>
                        <li>
                        <!--<li *ngIf="service.relatedService">-->
                            <div class="uk-margin-medium-top">
                                <ul *ngIf="service.relatedServices && service.relatedServices.length>0">
                                    <li *ngFor="let relatedService of service.relatedServices">{{getPrettyService(relatedService).name}}</li>
                                </ul>
                                <div *ngIf="!service.relatedServices || service.relatedServices.length==0" class="uk-alert uk-alert-warning">
                                    There are no available related services
                                </div>
                            </div>
                        </li>
                        <li>
                        <!--<li *ngIf="service.places || service.region || service.language">-->
                            <div class="uk-grid uk-margin-medium-top">
                                <div class="uk-width-1-2@m">
                                    <img src="./imgs/eu-map-demo.png">
                                </div>
                                <div class="uk-width-1-2@m">
                                    <dl class="uk-description-list">

                                        <template [ngIf]="service.places && service.places.length>0">
                                            <dt>Places</dt>
                                            <dd>
                                                <!--<span *ngFor="let place of service.places">{{place}}, </span>-->
                                                <span >{{service.places.join()}}</span>
                                            </dd>
                                        </template>
                                        <template [ngIf]="!service.places || service.places.length==0">
                                            <dt>Places</dt>
                                            <dd>
                                                <span>Not available</span>
                                            </dd>
                                        </template>

                                        <!--<template [ngIf]="service.region && service.region.length>0">-->
                                            <!--<dt>Regions</dt>-->
                                            <!--<dd>-->
                                                <!--<span *ngFor="let region of service.region">{{region}}, </span>-->
                                            <!--</dd>-->
                                        <!--</template>-->
                                        <!--<template [ngIf]="!service.region || service.region.length==0">-->
                                            <!--<dt>Regions</dt>-->
                                            <!--<dd>-->
                                                <!--<span>Not available</span>-->
                                            <!--</dd>-->
                                        <!--</template>-->

                                        <template [ngIf]="service.languages && service.languages.length>0">
                                            <dt>Languages</dt>
                                            <dd>
                                                <span *ngFor="let language of service.languages">{{language}}, </span>
                                            </dd>
                                        </template>
                                        <template [ngIf]="!service.languages || service.languages.length==0">
                                            <dt>Languages</dt>
                                            <dd>
                                                <span>Not available</span>
                                            </dd>
                                        </template>

                                    </dl>
                                </div>
                            </div>
                        </li>
                        <!--<li *ngIf="service.options || service.price || service.serviceLevelAgreement || service.termsOfUse">-->
                        <li>
                            <div class="uk-margin-medium-top">
                                <dl class="uk-description-list">

                                    <template [ngIf]="service.options">
                                        <dt>Options</dt>
                                        <dd>{{service.options}}</dd>
                                    </template>
                                    <template [ngIf]="!service.options">
                                        <dt>Options</dt>
                                        <dd>Not available</dd>
                                    </template>

                                    <template [ngIf]="service.price">
                                        <dt>Pricing model</dt>
                                        <dd>{{service.price}}</dd>
                                    </template>
                                    <template [ngIf]="!service.price">
                                        <dt>Pricing model</dt>
                                        <dd>Not available</dd>
                                    </template>

                                    <template [ngIf]="service.serviceLevelAgreement">
                                        <dt>Service Level Agreement</dt>
                                        <dd>{{service.serviceLevelAgreement}}</dd>
                                    </template>
                                    <template [ngIf]="!service.serviceLevelAgreement">
                                        <dt>Service Level Agreement</dt>
                                        <dd>Not available</dd>
                                    </template>

                                    <template [ngIf]="service.termsOfUse && service.termsOfUse.length > 0">
                                        <dt>Terms of Use</dt>
                                        <dd>{{service.termsOfUse}}</dd>
                                    </template>
                                    <template [ngIf]="!service.termsOfUse">
                                        <dt>Terms of Use</dt>
                                        <dd>Not available</dd>
                                    </template>

                                </dl>
                            </div>
                        </li>
                    </ul>

                </div>

                <!--SIDEBAR-->
                <div class="tm-sidebar uk-width-1-4@m">
                    <div class="uk-card uk-card-body uk-card-default sidemenu">
                        <h4>Usage Stats</h4>
                        <ul class="uk-list">
                            <!--<li> Average rating <star-rating-comp [starType]="'svg'" [rating]="4.5" [step]="0.5"-->
                                                                  <!--[showHalfStars]="true" [readOnly]=!this.authenticationService.isLoggedIn() [size]="'small'"-->
                                                                  <!--[staticColor]="'ok'"></star-rating-comp></li>-->
                            <li> Visited at eInfraCentral: <strong> {{service.addenda ? service.addenda.internalHits : Math.floor(getDeterminedInt(service.id) / 7)}} </strong> times</li>
                            <li> Visited at providers' site: <strong> {{service.addenda ? service.addenda.externalHits : Math.floor(getDeterminedInt(service.id) / 13)}} </strong> times</li>
                            <li> Favored by <strong> {{service.addenda ? service.addenda.favouriteCount : Math.floor(getDeterminedInt(service.id) / 37)}} </strong> users</li>
                        </ul>
                        <!--<a style="font-size: 15px">View more ></a>-->
                    </div>
                    <!--<div class="uk-card uk-card-body uk-card-default sidemenu uk-margin-top"-->
                         <!--*ngIf="service.request || service.helpdesk || service.userManual || service.trainingInformation || service.feedback">-->
                    <div class="uk-card uk-card-body uk-card-default sidemenu uk-margin-top">
                        <h4>Support</h4>
                        <ul class="uk-list" style="word-wrap: break-word;">
                            <li *ngIf="service.request">
                                <strong>Service request: </strong>
                                <a target="_blank" href="{{service.request}}">{{service.request}}</a>
                            </li>
                            <li *ngIf="!service.request">
                                <strong>Service request: </strong>not available
                            </li>

                            <li *ngIf="service.helpdesk">
                                <strong>Service helpdesk: </strong>
                                <a target="_blank" href="{{service.helpdesk}}">{{service.helpdesk}}</a>
                            </li>
                            <li *ngIf="!service.helpdesk">
                                <strong>Service helpdesk: </strong>not available
                            </li>
                            <li *ngIf="service.multimediaURL">
                                <strong>Service media: </strong>
                                <a target="_blank" href="{{service.multimediaURL}}">{{service.multimediaURL}}</a>
                            </li>
                            <li *ngIf="!service.multimediaURL">
                                <strong>Service media: </strong>not available
                            </li>

                            <li *ngIf="service.userManual">
                                <strong>User manual: </strong>
                                <a target="_blank" href="{{service.userManual}}">{{service.userManual}}</a>
                            </li>
                            <li *ngIf="!service.userManual">
                                <strong>User manual: </strong>not available
                            </li>

                            <li *ngIf="service.trainingInformation">
                                <strong>Training Information: </strong>
                                <a target="_blank" href="{{service.trainingInformation}}">{{service.trainingInformation}}</a>
                            </li>
                            <li *ngIf="!service.trainingInformation">
                                <strong>Training Information: </strong>not available
                            </li>

                            <li *ngIf="service.feedback">
                                <strong>Service feedback: </strong>
                                <a target="_blank" href="{{service.feedback}}">{{service.feedback}}</a>
                            </li>
                            <li *ngIf="!service.feedback">
                                <strong>Service feedback: </strong>not available
                            </li>
                        </ul>
                    </div>

                </div>

            </template>




        </div>
    </div>
</div>
