<div id="tm-main" class="tm-main uk-section uk-section-default" uk-height-viewport="expand: true" style="box-sizing: border-box;">
    <div class="uk-container uk-container-expand">
        <div class="tm-header-placeholder uk-margin-remove-adjacent" style="height: 84px;"></div>
        <div class="uk-grid" uk-grid="">

            <ng-template [ngIf]="errorMessage">
                <div class="uk-width-expand@m uk-first-column">
                    <div data-uk-alert="" class="uk-alert uk-alert-danger">
                        <p>{{errorMessage}}</p>
                    </div>
                </div>
            </ng-template>

            <ng-template [ngIf]="service && !errorMessage">

                <div class="uk-width-1-1 uk-row-first uk-clearfix">

                    <div class="uk-grid">
                        <div class="uk-width-3-4@m">
                            <div class="uk-display-inline-block uk-vertical-align-top">
                                <h2 class="uk-h2 uk-inline" style="margin-bottom: 5px">
                                    {{service.name || "Not Available"}}
                                    <span class="uk-margin-left" *ngIf="this.userService.canEditService(service)">
                                        <a (click)="this.router.edit(service.id)" routerLinkActive="active"><i class="fa fa-pencil"></i></a>
                                    </span>
                                </h2>
                                <div *ngIf="service.tagline && (service.tagline.length>0)" class="tagLine">
                                    {{service.tagline}}
                                </div>
                                <!--<div>-->
                                    <!--<star-rating-comp (click)="this.userService.rateService(service.id)" [starType]="'svg'" [rating]="this.getShownRating()" [step]="1"-->
                                                      <!--[showHalfStars]="true" [readOnly]=!this.authenticationService.isLoggedIn() [size]="'medium'"-->
                                                      <!--[staticColor]="'ok'" class="uk-inline starRating"></star-rating-comp>-->
                                    <!--<span class="uk-margin-medium-left">-->
                                        <!--<img src="../../../../assets/images/icons/ic_love_icon.svg">-->
                                        <!--<span class="statsNumbers">{{stats.favourite || 0}}</span>-->
                                    <!--</span>-->
                                    <!--<span class="uk-margin-medium-left">-->
                                        <!--<img src="../../../../assets/images/icons/ic_visit_icon.svg">-->
                                        <!--<span class="statsNumbers">{{stats.visits || 0}}</span>-->
                                    <!--</span>-->
                                <!--</div>-->
                            </div>
                        </div>
                        <div class="uk-width-1-4@m">

                            <div class="uk-card uk-card-body uk-card-custom providerCard">
                                <img src="{{service.symbol || 'http://fvtelibrary.com/img/user/NoLogo.png'}}"
                                     style="max-width: 67px;">
                                <!--<span class="provider">{{service.providers[0] | uppercase}}</span>-->
                            </div>
                        </div>

                    </div>

                </div>

                <div class="uk-width-expand@m uk-first-column">
                    <!--<div class="uk-width-expand@m uk-first-column uk-grid-margin-medium">-->

                    <div class="serviceDescription" *ngIf="service.description">
                        <p [innerHTML]="service.description">
                        </p>
                    </div>

                    <div class="tags" *ngIf="service.tags && service.tags.length>0">
                        <span *ngFor="let tag of service.tags" class="uk-label">{{tag}}</span>
                    </div>

                    <div>
                        <button class="uk-button uk-button-primary visitButton" (click)="visit()" routerLinkActive="active">
                            <strong>Homepage Service</strong>
                        </button>
                    </div>


                    <div class="uk-grid-collapse uk-grid uk-width-1-1 uk-margin-large-top">

                        <div class="uk-width-1-2@m uk-margin-right">
                            <!--USAGE-->
                            <div class="uk-card uk-card-body uk-card-basic-info uk-margin-bottom">
                                <h2 class="uk-h2">Usage</h2>
                                <dl class="uk-description-list">
                                    <div *ngIf="service.trl" class="uk-margin-small-bottom">
                                        <dt class="uk-margin-small-right uk-inline">Technology readiness level</dt>
                                        <dd class="uk-inline">{{this.vocabularies[service.trl].name.charAt(0)}}</dd>
                                    </div>
                                    <div *ngIf="service.lifeCycleStatus" class="uk-margin-small-bottom">
                                        <dt class="uk-margin-small-right uk-inline">Lifecycle Status</dt>
                                        <dd class="uk-inline">{{this.vocabularies[service.lifeCycleStatus].name}}</dd>
                                    </div>
                                </dl>
                                <hr class="customDivider">
                                <dl class="uk-description-list">
                                    <ng-container *ngIf="service.options">
                                        <dt class="uk-margin-small-bottom">Options</dt>
                                        <dd>{{service.options}}</dd>
                                    </ng-container>
                                    <ng-container *ngIf="service.targetUsers">
                                        <dt class="uk-margin-small-bottom">Target Users</dt>
                                        <dd>{{service.targetUsers}}</dd>
                                    </ng-container>
                                    <ng-container *ngIf="service.userValues">
                                        <dt class="uk-margin-small-bottom">User values</dt>
                                        <dd>{{service.userValues}}</dd>
                                    </ng-container>
                                    <ng-container *ngIf="service.userBase">
                                        <dt class="uk-margin-small-bottom">User base</dt>
                                        <dd>{{service.userBase}}</dd>
                                    </ng-container>
                                </dl>
                            </div>
                            <!--REQUIRED / RELATED SERVICES-->
                            <div class="uk-card uk-card-body uk-card-basic-info">
                                <h2 class="uk-h2">Required / Related services</h2>
                                <dl class="uk-description-list">
                                    <ng-container *ngIf="service.requiredServices && service.requiredServices.length > 0">
                                        <dt class="uk-margin-small-bottom">Required services</dt>
                                        <dd *ngFor="let requiredService of service.requiredServices">
                                            <a (click)="this.router.service(getPrettyService(requiredService).id)">{{getPrettyService(requiredService).name}}</a>
                                            <!--<ul>-->
                                            <!--<li *ngFor="let requiredService of service.requiredServices">-->
                                            <!--<a (click)="this.router.service(getPrettyService(requiredService).id)">{{getPrettyService(requiredService).name}}</a>-->
                                            <!--</li>-->
                                            <!--</ul>-->
                                        </dd>
                                    </ng-container>
                                    <ng-container *ngIf="!service.requiredServices || service.requiredServices.length == 0">
                                        <dt class="uk-margin-small-bottom">Required services</dt>
                                        <dd>
                                            -
                                        </dd>
                                    </ng-container>
                                    <ng-container *ngIf="service.relatedServices && service.relatedServices.length>0">
                                        <dt class="uk-margin-small-bottom">Related services</dt>
                                        <dd *ngFor="let relatedService of service.relatedServices">
                                            <a (click)="this.router.service(getPrettyService(relatedService).id)">{{getPrettyService(relatedService).name}}</a>
                                            <!--<ul>-->
                                            <!--<li *ngFor="let relatedService of service.relatedServices">-->
                                            <!--<a (click)="this.router.service(getPrettyService(relatedService).id)">{{getPrettyService(relatedService).name}}</a>-->
                                            <!--</li>-->
                                            <!--</ul>-->
                                        </dd>
                                    </ng-container>
                                    <ng-container *ngIf="!service.relatedServices || service.relatedServices.length == 0">
                                        <dt class="uk-margin-small-bottom">Related services</dt>
                                        <dd>
                                            -
                                        </dd>
                                    </ng-container>
                                </dl>
                            </div>
                        </div>

                        <div class="uk-width-expand@m">
                            <!--SERVICE COVERAGE-->
                            <div class="uk-card uk-card-body uk-card-basic-info uk-margin-bottom">
                                <h2 class="uk-h2">Service coverage</h2>
                                <div style="width:100%" *ngIf="serviceMapOptions">
                                    <chart type="Map" [options]="serviceMapOptions"></chart>
                                </div>
                                <dl class="uk-description-list">
                                    <ng-container *ngIf="service.places && service.places.length>0">
                                        <dt class="uk-margin-small-bottom">Places</dt>
                                        <dd>
                                            <!--<span *ngFor="let place of service.places">{{place}}, </span>-->
                                            <span>{{this.getPrettyList(service.places)}}</span>
                                        </dd>
                                    </ng-container>
                                    <ng-container *ngIf="service.languages && service.languages.length>0">
                                        <dt class="uk-margin-small-bottom">Languages</dt>
                                        <dd>
                                            <span>{{this.getPrettyList(service.languages)}}</span>
                                        </dd>
                                    </ng-container>
                                </dl>
                            </div>
                            <!--FUNDING-->
                            <div *ngIf="service.funding" class="uk-card uk-card-body uk-card-basic-info">
                                <h2 class="uk-h2">Funding</h2>
                                <dl class="uk-description-list">
                                    <!--<dt class="uk-margin-small-bottom">Funding sources</dt>-->
                                    <dd>{{service.funding}}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>


                </div>

                <!--SIDEBAR-->
                <div class="tm-sidebar uk-width-1-4@m">

                    <h4 class="uk-h4 sidebarHeaders uk-margin-large-top">Contractual Info</h4>
                    <div class="uk-card uk-card-body uk-card-custom sideInfo">
                        <div *ngIf="service.request" class="uk-margin-small-bottom">
                            <a class="uk-margin-small-right" target="_blank" href="{{service.request}}">Service order</a>
                            <img src="../../../../assets/images/icons/ic_link_arrow_right.svg">
                        </div>
                        <div *ngIf="service.price" class="uk-margin-small-bottom">
                            <a class="uk-margin-small-right" target="_blank" href="{{service.price}}">Price</a>
                            <img src="../../../../assets/images/icons/ic_link_arrow_right.svg">
                        </div>
                        <div *ngIf="service.serviceLevelAgreement" class="uk-margin-small-bottom">
                            <a class="uk-margin-small-right" target="_blank" href="{{service.serviceLevelAgreement}}">Service level agreement</a>
                            <img src="../../../../assets/images/icons/ic_link_arrow_right.svg">
                        </div>
                        <ng-container *ngIf="service.termsOfUse && service.termsOfUse.length > 0">
                            <div *ngIf="service.termsOfUse.length==1" class="uk-margin-small-bottom">
                                <a class="uk-margin-small-right" target="_blank" href="{{service.termsOfUse[0]}}">Terms of use</a>
                                <img src="../../../../assets/images/icons/ic_link_arrow_right.svg">
                            </div>
                            <ng-container *ngIf="service.termsOfUse.length>1">
                                <div *ngFor="let term of service.termsOfUse; let i = index;" class="uk-margin-small-bottom">
                                    <a class="uk-margin-small-right" target="_blank" href="{{service.termsOfUse[i]}}">Terms of use {{i+1}}</a>
                                    <img src="../../../../assets/images/icons/ic_link_arrow_right.svg">
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>

                    <h4 class="uk-h4 sidebarHeaders uk-margin-medium-top">Support</h4>
                    <div class="uk-card uk-card-body uk-card-custom sideInfo">
                        <div *ngIf="service.helpdesk" class="uk-margin-small-bottom">
                            <a class="uk-margin-small-right" target="_blank" href="{{service.helpdesk}}">Helpdesk</a>
                            <img src="../../../../assets/images/icons/ic_link_arrow_right.svg">
                        </div>
                        <div *ngIf="service.userManual" class="uk-margin-small-bottom">
                            <a class="uk-margin-small-right" target="_blank" href="{{service.userManual}}">User manual</a>
                            <img src="../../../../assets/images/icons/ic_link_arrow_right.svg">
                        </div>
                        <div *ngIf="service.feedback" class="uk-margin-small-bottom">
                            <a class="uk-margin-small-right" target="_blank" href="{{service.feedback}}">Feedback</a>
                            <img src="../../../../assets/images/icons/ic_link_arrow_right.svg">
                        </div>
                        <div *ngIf="service.trainingInformation" class="uk-margin-small-bottom">
                            <a class="uk-margin-small-right" target="_blank" href="{{service.trainingInformation}}">Training information</a>
                            <img src="../../../../assets/images/icons/ic_link_arrow_right.svg">
                        </div>
                        <div *ngIf="service.multimediaURL" class="uk-margin-small-bottom">
                            <a class="uk-margin-small-right" target="_blank" href="{{service.multimediaURL}}">Multimedia</a>
                            <img src="../../../../assets/images/icons/ic_link_arrow_right.svg">
                        </div>
                    </div>

                    <!--TODO uncomment when we have KPIs-->
                    <!--<h4 class="uk-h4 sidebarHeaders uk-margin-medium-top">Performance Information</h4>-->
                    <!--<div class="uk-card uk-card-body uk-card-custom sideInfo">-->
                    <!--&lt;!&ndash;<hr class="customDivider">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div *ngIf="service.reliability" class="uk-margin-small-bottom">&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="infoTitle uk-margin-small-right">Reliability</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="infoDescription">{{service.reliability}}</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div *ngIf="service.reliability" class="uk-margin-small-bottom">&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="infoTitle uk-margin-small-right">Durability</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="infoDescription">{{service.reliability}}</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div *ngIf="service.reliability" class="uk-margin-small-bottom">&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="infoTitle uk-margin-small-right">Performance</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="infoDescription">{{service.reliability}}</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--</div>-->

                    <h4 class="uk-h4 sidebarHeaders uk-margin-medium-top">Version</h4>
                    <hr class="customDivider">
                    <div>
                        <div *ngIf="service.version" class="uk-margin-small-bottom">
                            <span class="infoTitle uk-margin-small-right">Version</span>
                            <span class="infoDescription">{{service.version}}</span>
                        </div>
                        <div *ngIf="service.lastUpdate" class="uk-margin-small-bottom">
                            <span class="infoTitle uk-margin-small-right">Last update</span>
                            <span class="infoDescription">{{service.lastUpdate}}</span>
                        </div>
                        <div *ngIf="service.changeLog" class="uk-margin-small-bottom">
                            <span class="infoTitle uk-margin-small-right">What's new</span>
                            <span class="infoDescription">{{service.changeLog}}</span>
                        </div>
                        <div *ngIf="service.validFor" class="uk-margin-small-bottom">
                            <span class="infoTitle uk-margin-small-right">Validity</span>
                            <span class="infoDescription">Until {{service.validFor}}</span>
                        </div>
                        <div *ngIf="service.availability" class="uk-margin-small-bottom">
                            <span class="infoTitle uk-margin-small-right">Availability</span>
                            <span class="infoDescription">{{service.availability}}</span>
                        </div>
                        <!--TODO uncomment when we have KPIs-->
                        <!--<div *ngIf="service.availability" class="uk-margin-small-bottom">-->
                        <!--<span class="infoTitle uk-margin-small-right">Measurement</span>-->
                        <!--<span class="infoDescription">{{service.availability}}</span>-->
                        <!--</div>-->
                    </div>

                </div>

            </ng-template>

        </div>
    </div>
</div>
