<div class="uk-block tm-block-main uk-block-default uk-block-large">
    <div class="uk-container uk-container-center">
        <div data-uk-grid-margin="" data-uk-grid-match="" class="tm-middle uk-grid" id="tm-middle">
            <div class="tm-main uk-width-medium-1-1 uk-row-first">
                <main class="tm-content" id="tm-content">
                    <div id="system-message-container">
                    </div>
                    <article class="uk-article">
                        <div class="uk-text-center">
                            <h1>User Authentication</h1>
                            <p class="uk-width-medium-2-3 uk-align-center tm-margin-large-top">
                                Use your credentials to login to your account.
                            </p>
                        </div>
                        <!--<div class="uk-text-center">-->
                        <!--<div data-uk-grid-margin="" data-uk-grid-match="{target:'&gt; div &gt; .uk-panel', row:true}"
                             class="uk-grid-width-1-1 uk-grid-width-medium-1-2 uk-grid uk-grid-match uk-text-left uk-margin-large-top"
                             id="wk-grid301">-->
                        <div class="uk-width-1-2 uk-align-center">
                            <div data-uk-grid-margin="" data-uk-grid-match="{target:'&gt; div &gt; .uk-panel', row:true}"
                                 class="uk-grid-width-1-1 uk-grid uk-grid-match uk-text-left uk-margin-large-top"
                                 id="wk-grid301">
                                <div *ngIf="errorMessage" data-uk-alert="" class="uk-alert uk-alert-danger">
                                    <p>{{errorMessage}}</p>
                                </div>
                                <form [formGroup]="form" (ngSubmit)="onSubmit(form.value, form.valid)" class="uk-form">
                                    <div data-uk-grid-margin="" class="uk-grid uk-grid-width-1-1">
                                        <div class="uk-row-first"><input type="text" class="uk-width-1-1"
                                                                         placeholder="Username" formControlName="username"></div>
                                        <div class="uk-grid-margin uk-row-first"><input type="password" class="uk-width-1-1"
                                                                                        placeholder="Password" formControlName="password"></div>
                                        <div class="uk-grid-margin uk-row-first"><button class="uk-button uk-button-large
                                        uk-button-primary" [disabled]="!form.valid">Sign In</button></div>
                                    </div>
                                </form>
                                <p><a href="#">Forgot your password? Click here to reset your password</a></p>
                                <p><a routerLink="/register">Don't have an account yet? Click here to create one</a></p>
                            </div>
                        </div>
                    </article>
                </main>
            </div>
        </div>
    </div>
</div>


